/*Общие значение*/
* {
	background-color: darkred;
}

/*Контейнер ошибки*/
.page_unavailable_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*Страница ошибки*/
.error_list {
	flex-basis: 600px;
}

.error_title {
	color: white;
	font-weight: 700;
	font-size: 32px;
	line-height: 1em;
	margin: 0;
}

.error_subtitle {
	color: white;
	font-weight: 400;
	font-size: 24px;
	line-height: 1em;
}

.error_link {
	color: white;
	font-weight: 700;
	font-size: 18px;
	line-height: 1em;
	letter-spacing: 0.1em;
}

.error_link:hover {
	color: blue;
	transition: all 0.5s;
}

.error_preview {
	width: 200px;
	height: 400px;
	object-fit: cover;
	flex-basis: 200px;
}