.resources_container {
	background-color: aliceblue;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 20px;
	padding: 5px 40px 5px;
	margin-bottom: 10px;
}

.resources_type {
	width: 48px;
	height: auto;
}

.resources_type_preview {
	width: 240px;
	height: 120px;
	object-fit: cover;
	flex-basis: 240px;
	border-radius: 10px;
}

.resources_list {
	max-width: 500px;
	flex-basis: 500px;
	align-content: center;
}

.resources_purchase {
	max-width: 150px;
	flex-basis: 150px;
	align-content: center;
}

.resources_author {
	color: black;
	max-width: 400px;
	font-size: 14px;
	line-height: 1em;
}

.resources_author span {
	color: green;
	font-weight: 700;
	font-size: 12px;
	padding: 4px;
	border: 2px dashed green;
	border-radius: 10px;
}

.resources_author b {
	color: orangered;
	font-weight: 700;
	font-size: 12px;
	padding: 4px;
	border: 2px dashed orangered;
	border-radius: 10px;
}

.resources_title {
	color: black;
	font-weight: 700;
	font-size: 20px;
	line-height: 1em;
	margin: 4px 0 2px;
}

.resources_subtitle {
	color: black;
	font-weight: 400;
	font-size: 14px;
	line-height: 1em;
}

.resources_link {
	color: black;
	font-weight: 700;
	font-size: 20px;
	line-height: inherit;
	letter-spacing: 1px;
	display: inline-block;
}

.resources_link:hover {
	color: blue;
	transition: all 0.5s;
}

/*Pic купить*/
.purchase_preview {
	max-width: 100%;
	width: 600px;
	height: auto;
	border-radius: 20px;
}

/*Pic материал*/
.material_preview {
	max-width: 100%;
	width: 240px;
	height: 300px;
	border-radius: 20px;
	margin-right: 10px;
}

/*Диалог внешний вид*/
.dialog_title {
	color: black;
	font-weight: 700;
	font-size: 20px;
	margin: 0;
	padding-bottom: 10px;
}

.dialog_description {
	color: black;
	font-weight: 400;
	font-size: 16px;
	line-height: 1em;
}

.dialog_link {
	color: black;
	font-weight: 700;
	font-size: 18px;
	line-height: 1em;
	letter-spacing: 0.1em;
}

.dialog_link:hover {
	color: blue;
	transition: all 0.5s;
}

/*Диалог меню*/
.dialog {
	position: fixed;
	transition: opacity 150ms ease-out;
	opacity: 1;
	max-width: 85%;
	width: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 0px 0px 20px rgba(100, 100, 100, 0.1);
}

.dialog_toggle {
	display: none;
}

.dialog_toggle:not(:checked) ~ .dialog {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	opacity: 0;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

.dialog_toggle:not(:checked) ~ .dialog_backstage {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	opacity: 0;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

.dialog_backstage {
	backdrop-filter: blur(4px);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 1;
}

.dialog_close::after {
	content: "✕";
	position: absolute;
	display: inline-block;
	top: 20px;
	right: 20px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.dialog_close:hover {
	color: blue;
	transition: all 0.5s;
}

.dialog_content {
	background-color: white;
	max-height: 90vh;
	overflow-x: auto;
	padding: 20px;
	border-radius: 20px;
}