@font-face {
	font-family: 'GoodPro';
	src: url('../visual/font/GoodPro-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GoodPro';
	src: url('../visual/font/GoodPro-Medium-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GoodPro';
	src: url('../visual/font/GoodPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GoodPro';
	src: url('../visual/font/GoodPro-Light.woff') format('woff');
	font-weight: lighter;
	font-style: normal;
	font-display: swap;
}

body,
input {
  font-family: "GoodPro";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: rgba(200, 200, 200, 0.9);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: #ffffff;
  border-radius: 3rem;
  box-shadow: 10px 60px 40px 10px rgba(0, 0, 0, 0.3);
}

.content-box {
  position: absolute;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-box {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.sign-logo {
  display: flex;
  align-items: center;
  text-align: center;
}

.sign-logo-text {
  font-size: 1.1rem;
  margin-top: 5px;
  letter-spacing: -0.5px;
  color: #000000;
}

.sign-return {
  color: #000000;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  transition: 0.3s;
  margin-bottom: 0.8rem;
}

.sign-return:hover {
  color: blue;
}

.sign-header-begin {
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

.sign-header-login {
  color: black;
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
}

.toggle-login {
  color: black;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 600;
  transition: 0.3s;
}

.toggle-login:hover {
  color: blue;
}

.input-form {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  padding: 0;
  font-size: 0.95rem;
  color: black;
  transition: 0.4s;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: gray;
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active {
  border-bottom-color: black;
}

.input-field.active+label {
  font-size: 0.75rem;
  top: -2px;
}

.sign-confirm {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  transition: 0.3s;
}

.sign-confirm:hover {
  background-color: blue;
}

.sign-error {
  color: red;
  font-size: 0.7rem;
}

.sign-rules {
  color: gray;
  font-size: 0.7rem;
}

.sign-rules a {
  color: gray;
  font-weight: 600;
  transition: 0.3s;
}

.sign-rules a:hover {
  color: blue;
}

.copyright {
  margin-top: 0.8rem;
  color: darkgray;
  font-size: 0.8rem;
}

.copyright a {
  color: gray;
  font-weight: 600;
  text-decoration: none;
}

.copyright a:hover {
  color: blue;
}

main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-box {
  left: 55%;
}

main.sign-up-mode .visual-box {
  left: 0%;
}

.visual-box {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-color: lightgray;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.images-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.image {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}

.sign-1 {
  transform: scale(1);
}

.sign-2 {
  transform: scale(1);
}

.sign-3 {
  transform: scale(1);
}

.image.active {
  opacity: 1;
  transform: none;
}

.images-text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}

.images-text-group {
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.images-text-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s;
}

.images-text {
  line-height: 1rem;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.1px;
  text-align: center;
}

.images-indicators {
  display: flex;
  align-items: center;
  justify-content: center;
}

.images-indicators span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: gray;
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.images-indicators span.active {
  width: 1.1rem;
  background-color: black;
  border-radius: 1rem;
}

/*For smaller screens*/
@media (max-width: 1000px) {
  .images-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 850px) {
  .main-box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .content-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-box {
    position: revert;
    width: 100%;
    height: auto;
  }

  .images-text {
    font-size: 0.8rem;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .sign-header {
    margin: 2rem 0;
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .visual-box {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
  }

  .images-box {
    display: none;
  }

  .images-text-box {
    width: 100%;
  }
}

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }

  .main-box {
    border-radius: 2rem;
  }

  .content-box {
    padding: 1rem;
  }

  .visual-box {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .images-text-box {
    margin-bottom: 1rem;
  }

  .images-text {
    font-size: 0.8rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}