<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script language="javascript">
		if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/Blackberry/i) || navigator.userAgent.match(/WebOs/i)) {
			window.location.replace("/component/notsupported");
		}
	</script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<link rel="stylesheet" href="/stylesheet/main.css">
	<link rel="stylesheet" href="/stylesheet/content.css">
	<link rel="icon" type="image/svg" href="/visual/icon/icon_edufile.svg">
	<title>edufile. Бөлімдер</title>
</head>

<body>

	<header class="page_header">
		<div class="page_container">
			<nav class="page_navigate">
				<a class="page_navigate_logotype" href="/index">
					<img class="page_navigate_logotype_icon" src="/visual/icon/icon_edufile.svg" alt="logotype_icon">
				</a>
				<ul class="page_navigate_menu">
					<li class="page_navigate_menu_item">
						<a class="page_navigate_menu_link_active" href="/fragment/content">Бөлімдер</a>
					</li>
					<li class="page_navigate_menu_item">
						<a class="page_navigate_menu_link" href="/fragment/about">Жоба туралы</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="page_section">
		<div class="page_container">
			<a class="content_tohome_link" href="/index"><i class="fas fa-home"></i> Басты бетшеге оралу</a>
			<h1 class="content_title">Бөлімдер</h1>
			<p class="content_linktree">басты бетше / <b>Бөлімдер</b></p>
			<h3 class="content_subtitle">Қосымшамызға қазіргі кездегі қосылған барлық материалдарды осы бөлімдер бетшесінен жүктеп, толықтай таныса аласыз. Барлығы оңай әрі қолжетімді!</h3>

			<div class="content_banner_1">
				<img class="banner_preview" src="/visual/headline/headline_instruments.png" alt="headline_preview">
				<div class="banner_list">
					<span class="content_status_b">Қолданысқа ие! <i class="fas fa-fire-alt"></i></span>
					<h1 class="banner_a_title">Digital Instruments</h1>
					<p class="banner_a_subtitle">Көмекші құралдар көптеген мұғалімдердің жұмысын жеңілдететін цифрлық немесе жасанды интеллект құралдары.</p>
					<a class="banner_a_link" href="/fragment/instrument">Сілтеме арқылы өту <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
				</div>
			</div>

			<div class="content_banner_a">
				<img class="banner_preview" src="/visual/headline/headline_resources.png" alt="headline_preview">
				<div class="banner_list">
					<h1 class="banner_a_title">edufile. Resources</h1>
					<p class="banner_a_subtitle">Оқытатын материалдарды, интерактивті сабақтарды осы ресурстар бетшесінен табасыз!</p>
					<a class="banner_a_link" href="/fragment/resource">Көру <i class="fas fa-arrow-right"></i></a>
				</div>
			</div>

			<div class="content_banner_b">
				<img class="banner_preview" src="/visual/headline/headline_platforms.png" alt="headline_preview">
				<div class="banner_list">
					<h1 class="banner_b_title">edufile. Platforms</h1>
					<p class="banner_b_subtitle">Қосымшалар туралы барлық анықтамалар видеомен нұсқаулықтар түрінде көрсетілген.</p>
					<a class="banner_b_link" href="/fragment/platform">Толық мәлімет <i class="fas fa-arrow-right"></i></a>
				</div>
			</div>

			<div class="content_banner_c">
				<img class="banner_preview" src="/visual/headline/headline_visualgames.png" alt="headline_preview">
				<div class="banner_list">
					<h1 class="banner_c_title">edufile. Interactive</h1>
					<p class="banner_c_subtitle">Интерактивті ойындар топтамасы, тақырыптар бойынша бірнеше топтарға бөлініп арнайы сұрыпталған.</p>
					<a class="banner_c_link" href="/fragment/interactive">Топтамаға өту <i class="fas fa-arrow-right"></i></a>
				</div>
			</div>

			<div class="content_container">
				<div class="content_container_child_a">
					<div class="content_child">
						<div class="content_child_list">
							<span class="content_status">Репозиторий <i class="fas fa-book"></i></span>
							<h1 class="content_a_title">edufile. Materials</h1>
							<p class="content_a_subtitle">Ағылшын тілі пәніне арналған ресурстар <i>(Кітаптар, аудиофайлдар, т.б. оқыту материалдары)</i></p>
							<a class="content_tocontent_link" href="/fragment/material">Бетшеге өту <i class="fa-solid fa-arrow-right"></i></a>
						</div>
						<img class="content_child_preview" src="/visual/headline/headline_materials.png" alt="headline_preview">
					</div>
				</div>

				<div class="content_container_child_b">
					<div class="content_child">
						<div class="content_child_list">
							<span class="content_status">Репозиторий <i class="fas fa-book"></i></span>
							<h1 class="content_b_title">Specifications</h1>
							<p class="content_b_subtitle">Бөлім бойынша және Тоқсан бойынша жиынтық бағалаудың спецификациялары</p>
							<a class="content_tocontent_link" href="/fragment/specification">Бетшеге өту <i class="fa-solid fa-arrow-right"></i></a>
						</div>
						<img class="content_child_preview" src="/visual/headline/headline_specifications.png" alt="headline_preview">
					</div>
				</div>
			</div>

		</div>
	</section>

	<footer class="page_footer">
		<div class="page_container">
			<div class="page_footnote">
				<div class="page_footnote_tag">
					<a class="page_footnote_title" href="/index"><b>edufile.</b></a>
					<p class="page_footnote_subtitle">Қол ұшын созыңыз! Сіз бұл жобаны қолдауыңыз арқылы одан әрі дамуына үлкен үлес қосасыз!</p>
				</div>

				<div class="page_footnote_social">
					<a class="page_footnote_social_link" href="https://www.youtube.com/channel/UCgsBtFRV--wrICXphD-H3Sg?sub_confirmation=1">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_youtube.svg" alt="social_icon"><span>YouTube</span>
					</a>
					<a class="page_footnote_social_link" href="https://t.me/edufilebot">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_telegram.svg" alt="social_icon"><span>Telegram-бот</span>
					</a>
				</div>

				<div class="page_footnote_social">
					<a class="page_footnote_social_link" href="tel:77789517778">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_whatsapp.svg" alt="social_icon"><span>+7 (778) 951-77-78</span>
					</a>
					<a class="page_footnote_social_link" href="mailto:diplomatpanda@protonmail.com">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_mail.svg" alt="social_icon"><span>diplomatpanda@protonmail.com</span>
					</a>
				</div>
			</div>

			<div class="page_footnote_bottom">
				<p class="page_footnote_copy">v6.3 <i>(build#0525)</i> &copy;2023-2025 <a class="page_footnote_copy_link" href="/component/developer">Қуаныш Қайратұлы</a> - <a class="page_footnote_copy_link" href="/index">«edufile.»</a> - repository of Educational Files and Platforms</p>
			</div>
		</div>
	</footer>

</body>

</html>