<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script language="javascript">
		if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/Blackberry/i) || navigator.userAgent.match(/WebOs/i)) {
			window.location.replace("/component/notsupported");
		}
	</script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<link rel="stylesheet" href="/stylesheet/main.css">
	<link rel="stylesheet" href="/stylesheet/content.css">
	<link rel="stylesheet" href="/stylesheet/instrument.css">
	<link rel="icon" type="image/svg" href="/visual/icon/icon_edufile.svg">
	<title>edufile. Digital Instruments</title>
</head>

<body>

	<header class="page_header">
		<div class="page_container">
			<nav class="page_navigate">
				<a class="page_navigate_logotype" href="/index">
					<img class="page_navigate_logotype_icon" src="/visual/icon/icon_edufile.svg" alt="logotype_icon">
				</a>
				<ul class="page_navigate_menu">
					<li class="page_navigate_menu_item">
						<a class="page_navigate_menu_link" href="/fragment/content">Бөлімдер</a>
					</li>
					<li class="page_navigate_menu_item">
						<a class="page_navigate_menu_link" href="/fragment/about">Жоба туралы</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="page_section">
		<div class="page_container">
			<a class="content_tohome_link" href="/fragment/content"><i class="fas fa-arrow-left"></i> Артқа</a>
			<h1 class="content_title">Digital Instruments</h1>
			<p class="content_linktree">басты бетше / Бөлімдер / <b>Digital Instruments</b></p>
			<h3 class="content_subtitle">Көмекші құралдар көптеген мұғалімдердің жұмысын жеңілдететін цифрлық немесе жасанды интеллект құралдары.</h3>

			<div class="instrument_section">

				<div class="instrument_content">
					<div class="instrument_case_banner">
						<div class="instrument_intro_banner">
							<h4>
								<span class="instrument_icon">
									<img src="/visual/icon/icon_oiqor_1.svg" width="42" height="42" alt="instrument_icon">
								</span> OiQor <span style="font-size: 24px; color: red;">β</span>
								<form class="toinstrument_button_container">
									<button class="toinstrument_button_banner" formaction="/instrument/oiqor"><i class="fas fa-comment-alt"></i> Сұрақ қою</button>
								</form>
							</h4>
							<img class="instrument_headline" src="/visual/headline/headline_oiqor.png" alt="headline_oiqor">
							<h1 class="instrument_subtitle_banner">Сізге кез келген тақырыпта ақпарат беретін, сұрақтарыңызға жауап беретін және идеяларыңызды дамытуға көмектесетін жасанды интеллект арқылы құрылатын чат.</h1>
							<p class="content_description"><i class="fas fa-robot" style="color: #ff3838;"></i> <b>OiQor мүмкіндіктері:</b><br>Ғылым, технология, бизнес, өнер, тіл үйрену және басқа да салалар бойынша біліммен бөлісу.<br>Шығармашылыққа қолдау көрсету: мәтін жазу, идеялар ұсыну, сценарийлер құру.<br>Күнделікті мәселелеріңізге кеңес беру және шешім табуға көмектесу.<br>Интерактивті сұхбат құру арқылы ойлау қабілетіңізді шыңдау.<br><br><i class="fas fa-bolt" style="color: #FFD43B;"></i> <b>Жылдам, нақты, сенімді!</b><br>Сұрақ қойыңыз – жасанды интеллектпен қарым-қатынас жасау өте оңай!</p>
						</div>
					</div>
				</div>

				<div class="instrument_content">
					<div class="instrument_case">
					    <div class="instrument_intro">
						   <h4>
							  <span class="instrument_icon">
								 <img src="/visual/icon/icon_score.svg" width="42" height="42" alt="instrument_icon">
							  </span> Бағалау журналы
						   </h4>
					    </div>
					    <div class="instrument_page">
						   <h1 class="content_subtitle">Бағалау журналы – мұғалімдерге оқушылардың үлгерімін тиімді қадағалауға, тапсырмаларға дескрипторлар қосуға және бағалауға арналған заманауи цифрлық құрал. Бұл жүйе оқыту процесін оңтайландырып, оқу үлгерімін нақты бақылауға көмектеседі.</h1>
						   <p class="content_description"><b>Тапсырма беру және дескриптор қосу:</b><br>Мұғалімдер сабақ бойынша тапсырмалар тағайындай алады.<br>Әр тапсырмаға нақты бағалау критерийлері мен дескрипторлар қосу мүмкіндігі бар.<br><b>Оқушыларды бағалау жүйесі:</b><br>Оқушылар тапсырмаларды орындаған соң, мұғалім оларды бағалай алады.<br><b>Таймер функциясы:</b><br>Тапсырманы орындау уақыты белгіленеді.<br>Оқушыларға уақыт шектеуі қойылып, таймер арқылы бақылау жасау мүмкіндігі.<br><b>Қолданудың артықшылықтары:</b><br>Мұғалімдерге жұмысын жүйелеп, бағалау сапасын арттыруға көмектеседі.<br>Оқушылардың өзіндік жауапкершілігін дамытуға ықпал етеді.<br><br>Бұл қолданба мұғалімдерге бағалау процесін барынша ыңғайлы етіп ұйымдастыруға көмектеседі.</p>
						   <form class="toinstrument_button_container">
							  <button class="toinstrument_button" formaction="/instrument/scorekeeper">
								 <i class="fas fa-sign-out-alt"></i> Қолдану
							  </button>
						   </form>
					    </div>
					</div>
				 </div>

				<div class="instrument_content">
					<div class="instrument_case">
						<div class="instrument_intro">
							<h4>
								<span class="instrument_icon">
									<img src="/visual/icon/icon_qr.svg" width="42" height="42" alt="instrument_icon">
								</span> QR код генераторы
							</h4>
						</div>
						<div class="instrument_page">
							<h1 class="content_subtitle">QR коды — әртүрлі ақпаратты, мысалы, сілтемелер, мәтіндер, телефон нөмірлерін және басқа деректерді сақтау үшін қолданылады. QR кодын пайдаланып, ақпаратты жылдам және оңай оқуға болады.</h1>
							<p class="content_description">QR кодының ерекшеліктері:<br><b>Жылдамдық:</b> QR кодтары мәліметтерді тез оқу мүмкіндігін береді.<br><b>Қолайлылық:</b> Қарапайым мобильді құрылғымен сканерлеу арқылы ақпаратқа қол жеткізу.</p>
							<form class="toinstrument_button_container">
								<button class="toinstrument_button" formaction="/instrument/qrgenerator"><i class="fas fa-sign-out-alt"></i> Қолдану</button>
							</form>
						</div>
					</div>
				</div>

				<div class="instrument_content">
					<div class="instrument_case">
						<div class="instrument_intro">
							<h4>
								<span class="instrument_icon">
									<img src="/visual/icon/icon_team.svg" width="42" height="42" alt="instrument_icon">
								</span> Командалық рандомизатор
							</h4>
						</div>
						<div class="instrument_page">
							<h1 class="content_subtitle">Оқушыларды топқа бөлу құралы – бұл мұғалімдерге сабақ барысында оқушыларды жылдам әрі тиімді түрде топтарға бөлуге көмектесетін құрал. Бұл құралдың негізгі мақсаты – оқыту процесін ұйымдастыруды жеңілдету және оқушылардың бірлесіп жұмыс істеу қабілеттерін дамыту.</h1>
							<p class="content_description">Топқа бөлу критерийі:<br><b>Кездейсоқ.</b> Топтар кездейсоқ яғни рандомайзер арқылы құрылады. <i>(Оқушылардың деңгейі есепке алынбайды)</i>.</p>
							<form class="toinstrument_button_container">
								<button class="toinstrument_button" formaction="/instrument/teamrandomizer"><i class="fas fa-sign-out-alt"></i> Қолдану</button>
							</form>
						</div>
					</div>
				</div>

				<div class="instrument_content">
					<div class="instrument_case">
						<div class="instrument_intro">
							<h4>
								<span class="instrument_icon">
									<img src="/visual/icon/icon_wheel.svg" width="42" height="42" alt="instrument_icon">
								</span> Атаулар дөңгелегі
							</h4>
						</div>
						<div class="instrument_page">
							<h1 class="content_subtitle">Атаулар дөңгелегі қолданбасы – бұл интерактивті құрал, ол дөңгелекті визуалды түрде айналдырып, кездейсоқ шешім қабылдауға немесе опцияларды таңдап алуға мүмкіндік береді.</h1>
							<p class="content_description"><b>Кездейсоқ таңдау жасау үшін:</b><br>Қолданушы дөңгелекке бірнеше нұсқаларды енгізе алады <i>(оқушылардың есімдері, тапсырмалар, сыйлықтар, т.б.)</i>, содан кейін дөңгелекті айналдырып, кездейсоқ бірін таңдайды.<br><b>Жоспарлау және ұйымдастыру:</b><br>Командалық тапсырмаларды бөлу, жаңа идеяларды таңдау немесе әрекеттер тізімін анықтау кезінде көмектеседі.<br><b>Оқу және оқыту процесінде:</b><br>Мұғалімдер оқушылардың назарын аударып, оқыту процесін қызықты ету үшін қолдана алады <i>(мысалы, сұраққа жауап берушіні таңдау)</i>.</p>
							<form class="toinstrument_button_container">
								<button class="toinstrument_button" formaction="/instrument/wheelofnames"><i class="fas fa-sign-out-alt"></i> Қолдану</button>
							</form>
						</div>
					</div>
				</div>

				<div class="instrument_content">
					<div class="instrument_case">
						<div class="instrument_intro">
							<h4>
								<span class="instrument_icon">
									<img src="/visual/icon/icon_quiz.svg" width="42" height="42" alt="instrument_icon">
								</span> Викторина жасаушы <span style="font-size: 24px; color: red;">β</span>
							</h4>
						</div>
						<div class="instrument_page">
							<h1 class="content_subtitle">Викторина жасаушы қолданбасы – қолданушыларға тест, сұрақ-жауап және интерактивті викториналар жасауға арналған. Оның көмегімен білім тексеру, аудиториямен өзара әрекеттесу оңай әрі ыңғайлы болады.</h1>
							<p class="content_description">Қолдануға оңай интерфейс – күрделі бағдарламалау дағдыларын қажет етпейді, викторина құру өте оңай.</p>
							<form class="toinstrument_button_container">
								<button class="toinstrument_button" formaction="/instrument/quizmaker"><i class="fas fa-sign-out-alt"></i> Қолдану</button>
							</form>
						</div>
					</div>
				</div>

				<div class="instrument_content">
					<div class="instrument_case">
						<div class="instrument_intro">
							<h4>
								<span class="instrument_icon">
									<img src="/visual/icon/icon_wordcloud.svg" width="42" height="42" alt="instrument_icon">
								</span> Сөздер бұлты
							</h4>
						</div>
						<div class="instrument_page">
							<h1 class="content_subtitle">Сөздер бұлты құралы – мәтіндегі сөздердің жиілігі мен маңыздылығын визуалды түрде көрсетуге арналған құрал. Бұлт ішінде жиі кездесетін сөздер үлкенірек, ал сирек кездесетіндері кішірек етіп бейнеленеді.</h1>
							<p class="content_description">Білім беруде оқушыларға мәтіннің негізгі тақырыбын жылдам анықтауға көмектеседі.</p>
							<form class="toinstrument_button_container">
								<button class="toinstrument_button" formaction="/instrument/wordcloud"><i class="fas fa-sign-out-alt"></i> Қолдану</button>
							</form>
						</div>
					</div>
				</div>

				<div class="instrument_content">
					<div class="instrument_case">
					    <div class="instrument_intro">
						   <h4>
							  <span class="instrument_icon">
								 <img src="/visual/icon/icon_timer.svg" width="42" height="42" alt="instrument_icon">
							  </span> Таймер
						   </h4>
					    </div>
					    <div class="instrument_page">
						   <h1 class="content_subtitle">Кері санақ – оқу уақытын тиімді басқару</h1>
						   <p class="content_description">Кері санақ сізге оқу уақытын дұрыс жоспарлауға көмектеседі. Оны пәндерге бөлінген уақытты бақылау, үзілістерді жоспарлау және оқу және жұмыс үшін пайдалануға болады.</p>
						   <form class="toinstrument_button_container">
							  <button class="toinstrument_button" formaction="/instrument/timer">
								 <i class="fas fa-sign-out-alt"></i> Қолдану
							  </button>
						   </form>
					    </div>
					</div>
				 </div>
				 
				 <div class="instrument_content">
					<div class="instrument_case">
					    <div class="instrument_intro">
						   <h4>
							  <span class="instrument_icon">
								 <img src="/visual/icon/icon_stopwatch.svg" width="42" height="42" alt="instrument_icon">
							  </span> Секундомер
						   </h4>
					    </div>
					    <div class="instrument_page">
						   <h1 class="content_subtitle">Уақыт өлшеуіш – оқу тиімділігін арттыру</h1>
						   <p class="content_description">Уақыт өлшеуіш оқу тапсырмаларын уақыт бойынша бақылауға көмектеседі. Оны тесттерді уақытқа шешу, тез оқуды жаттықтыру және концентрацияны арттыру үшін қолданыңыз.</p>
						   <form class="toinstrument_button_container">
							  <button class="toinstrument_button" formaction="/instrument/stopwatch">
								 <i class="fas fa-sign-out-alt"></i> Қолдану
							  </button>
						   </form>
					    </div>
					</div>
				 </div>				 

			</div>

			<script src="/script/instrument.js"></script>
		</div>
	</section>

	<footer class="page_footer">
		<div class="page_container">
			<div class="page_footnote">
				<div class="page_footnote_tag">
					<a class="page_footnote_title" href="/index"><b>edufile.</b></a>
					<p class="page_footnote_subtitle">Қол ұшын созыңыз! Сіз бұл жобаны қолдауыңыз арқылы одан әрі
						дамуына үлкен үлес қосасыз!</p>
				</div>

				<div class="page_footnote_social">
					<a class="page_footnote_social_link"
						href="https://www.youtube.com/channel/UCgsBtFRV--wrICXphD-H3Sg?sub_confirmation=1">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_youtube.svg"
							alt="social_icon"><span>YouTube</span>
					</a>
					<a class="page_footnote_social_link" href="https://t.me/edufilebot">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_telegram.svg"
							alt="social_icon"><span>Telegram-бот</span>
					</a>
				</div>

				<div class="page_footnote_social">
					<a class="page_footnote_social_link" href="tel:77789517778">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_whatsapp.svg"
							alt="social_icon"><span>+7 (778) 951-77-78</span>
					</a>
					<a class="page_footnote_social_link" href="mailto:diplomatpanda@protonmail.com">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_mail.svg"
							alt="social_icon"><span>diplomatpanda@protonmail.com</span>
					</a>
				</div>
			</div>

			<div class="page_footnote_bottom">
				<p class="page_footnote_copy">v6.2-prerelease <i>(build#0325)</i> &copy;2023-2025 <a class="page_footnote_copy_link"
						href="/component/developer">ninjawithoutkatana</a> - <a class="page_footnote_copy_link"
						href="/index">«edufile.»</a> - repository of Educational Files and Platforms</p>
			</div>
		</div>
	</footer>

</body>

</html>