<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script language="javascript">
		if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/Blackberry/i) || navigator.userAgent.match(/WebOs/i)) {
			window.location.replace("/component/notsupported.html");
		}
	</script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<link rel="stylesheet" href="/stylesheet/main.css">
	<link rel="stylesheet" href="/stylesheet/content.css">
	<link rel="stylesheet" href="/stylesheet/interactive.css">
	<link rel="icon" type="image/svg" href="/visual/icon/icon_edufile.svg">
	<title>edufile. Interactive</title>
</head>

<body>

	<header class="page_header">
		<div class="page_container">
			<nav class="page_navigate">
				<a class="page_navigate_logotype" href="/index.html">
					<img class="page_navigate_logotype_icon" src="/visual/icon/icon_edufile.svg" alt="logotype_icon">
				</a>
				<ul class="page_navigate_menu">
					<li class="page_navigate_menu_item">
						<a class="page_navigate_menu_link" href="/fragment/content.html">Бөлімдер</a>
					</li>
					<li class="page_navigate_menu_item">
						<a class="page_navigate_menu_link" href="/fragment/about.html">Жоба туралы</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="page_section">
		<div class="page_container">
			<a class="content_tohome_link" href="/fragment/content.html"><i class="fas fa-arrow-left"></i> Артқа</a>
			<div class="interactive_main">
				<div class="interactive_list">
					<h1 class="content_title">edufile. Interactive</h1>
					<p class="content_linktree">басты бетше / бөлімдер / <b>Интерактив</b></p>
					<h3 class="content_subtitle">Интерактивті ойындар топтамасы, тақырыптар бойынша бірнеше топтарға бөлініп арнайы сұрыпталған.</h3>
				</div>
				<img class="interactive_cover" src="/visual/headline/headline_visualgames.png" alt="">
			</div>

		</div>



		<div class="page_container">
			<h1 class="popular_title"><i class="fa-solid fa-fire"></i> Көп жүктелетін ойындар</h1>
		</div>

		<div class="carousel">

			<div class="carousel__container">
			<div class="carousel-item">
				<img
					class="carousel-item__img"
					src="https://m.media-amazon.com/images/I/81a33sV8ohL.png"
					alt="people"
				/>
				<div class="carousel-item__details">
					<div class="controls">
						<span class="fas fa-download"></span>
					</div>
					<h3 class="carousel-item__details--title">Adjectives</h3>
					<pre class="carousel-item__details--subtitle">12.03.2023</pre>
				</div>
			</div>
			<div class="carousel-item">
				<img
					class="carousel-item__img"
					src="https://is4-ssl.mzstatic.com/image/thumb/Purple125/v4/2a/b2/5b/2ab25b78-6dab-499d-8ab1-b7f29e5f23ee/source/256x256bb.jpg"
					alt="people"
				/>
				<div class="carousel-item__details">
					<div class="controls">
						<span class="fas fa-download"></span>
					</div>
					<h5 class="carousel-item__details--title">Preposition</h5>
					<h6 class="carousel-item__details--subtitle">12.03.2023</h6>
				</div>
			</div>
			<div class="carousel-item">
				<img
					class="carousel-item__img"
					src="https://is2-ssl.mzstatic.com/image/thumb/Purple125/v4/f1/83/d9/f183d926-db0b-ba96-a34f-7bf46eec31a3/source/256x256bb.jpg"
					alt="people"
				/>
				<div class="carousel-item__details">
					<div class="controls">
						<span class="fas fa-play-circle"></span>
						<span class="fas fa-plus-circle"></span>
					</div>
					<h5 class="carousel-item__details--title">Descriptive Title</h5>
					<h6 class="carousel-item__details--subtitle">Date and Duration</h6>
				</div>
			</div>
			<div class="carousel-item">
				<img
					class="carousel-item__img"
					src="https://is2-ssl.mzstatic.com/image/thumb/Purple112/v4/fd/d0/bd/fdd0bd9d-2ca6-c021-d8b0-1fade4fdab6a/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/256x256bb.jpg"
					alt="people"
				/>
				<div class="carousel-item__details">
					<div class="controls">
						<span class="fas fa-play-circle"></span>
						<span class="fas fa-plus-circle"></span>
					</div>
					<h5 class="carousel-item__details--title">Descriptive Title</h5>
					<h6 class="carousel-item__details--subtitle">Date and Duration</h6>
				</div>
			</div>
			<div class="carousel-item">
				<img
					class="carousel-item__img"
					src="https://images.pexels.com/photos/417344/pexels-photo-417344.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
					alt="people"
				/>
				<div class="carousel-item__details">
					<div class="controls">
						<span class="fas fa-play-circle"></span>
						<span class="fas fa-plus-circle"></span>
					</div>
					<h5 class="carousel-item__details--title">Descriptive Title</h5>
					<h6 class="carousel-item__details--subtitle">Date and Duration</h6>
				</div>
			</div>
			<div class="carousel-item">
				<img
					class="carousel-item__img"
					src="https://images.pexels.com/photos/6945/sunset-summer-golden-hour-paul-filitchkin.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
					alt="people"
				/>
				<div class="carousel-item__details">
					<div class="controls">
						<span class="fas fa-play-circle"></span>
						<span class="fas fa-plus-circle"></span>
					</div>
					<h5 class="carousel-item__details--title">Descriptive Title</h5>
					<h6 class="carousel-item__details--subtitle">Date and Duration</h6>
				</div>
			</div>

			<div class="carousel-item">
				<img
					class="carousel-item__img"
					src="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
					alt="people"
				/>
				<div class="carousel-item__details">
					<div class="controls">
						<span class="fas fa-play-circle"></span>
						<span class="fas fa-plus-circle"></span>
					</div>
					<h5 class="carousel-item__details--title">Descriptive Title</h5>
					<h6 class="carousel-item__details--subtitle">Date and Duration</h6>
				</div>
			</div>
		</div>
		</div>

	</section>

	


	<section id="blog">
		<div class="container">
			<h1 class="popular_title"><i class="fa-solid fa-folder-open"></i> Барлық тақырыптар</h1>

			<script src="/script/interactive.js"></script>
			<div class="cards">

				<article class="card" id="card_1">
					<div class="card_preview_container">
						<img class="card_preview" id="img_1" src="/visual/preview/pack_adjectives.png" alt="card_preview" />
					</div>
					<div class="card_body_list">
						<h3 class="card_title">Adjectives</h3>
						<p class="card_date"><i class="fa-solid fa-calendar-days"></i><time datetime="2023-03-08"> &nbsp; <b>9 наурыз, 2023</b></time></p>
						<ul class="card_tags_list" role="list">
							<li class="card_hashtag"><i class="fas fa-hashtag"></i> <i>ағылшын тілі</i></li>
							<li class="card_hashtag"><i class="fas fa-hashtag"></i> <i>ойындар</i></li>
						</ul>
						<div class="card_meta_list">
							<a class="card_link" href="/component/error.html">Жүктеу <i class="fas fa-download"></i></a>
							<a class="card_info_link"><i class="fa-solid fa-circle-info"></i> Анықтама</a>
						</div>
						<div class="card_description_list">
							<p class="card_subtitle"><b>Жинақтаманың ішінде 11 ойын түрі бар:</b>
								<br>adjectives new words
								<br>ghostbuster
								<br>guess the word
								<br>how are you feeling
								<br>opposites. help tweety bird save the good eggs
								<br>opposites. flashcards picture 
								<br>pick the adjective activities
								<br>pluck the daisy
								<br>possessive adjectives
								<br>the book of superlatives
								<br>watching the stars</p>
						</div>
					</div>
				</article>

				<article class="card" id="card_2">
					<div class="card_preview_container">
						<img class="card_preview" id="img_2" src="/visual/preview/pack_adverbs.png" alt="card_preview" />
					</div>
					<div class="card_body_list">
						<h3 class="card_title">Adverbs</h3>
						<p class="card_date"><i class="fa-solid fa-calendar-days"></i><time datetime="2023-03-08"> &nbsp; <b>8 наурыз, 2023</b></time></p>
						<ul class="card_tags_list" role="list">
							<li class="card_hashtag"><i class="fas fa-hashtag"></i> <i>ағылшын тілі</i></li>
							<li class="card_hashtag"><i class="fas fa-hashtag"></i> <i>ойындар</i></li>
						</ul>
						<div class="card_meta_list">
							<a class="card_link" href="/component/error.html">Толығырақ</a>
						</div>
					</div>
				</article>

				<article class="card" id="card_3">
					<div class="card_preview_container">
						<img class="card_preview" id="img_3" src="/visual/preview/pack_alphabet.png" alt="card_preview" />
					</div>
					<div class="card_body_list">
						<h3 class="card_title">Alphabet</h3>
						<p class="card_date"><i class="fa-solid fa-calendar-days"></i><time datetime="2023-03-08"> &nbsp; <b>9 наурыз, 2023</b></time></p>
						<ul class="card_tags_list" role="list">
							<li class="card_hashtag"><i class="fas fa-hashtag"></i> <i>ағылшын тілі</i></li>
							<li class="card_hashtag"><i class="fas fa-hashtag"></i> <i>ойындар</i></li>
						</ul>
						<div class="card_meta_list">
							<a class="card_link" href="/component/error.html">Толығырақ</a>
						</div>
					</div>
				</article>

				<article class="card" id="card_4">
					<div class="card_preview_container">
						<img class="card_preview" id="img_4" src="/visual/preview/pack_animals.png" alt="card_preview" />
					</div>
					<div class="card_body_list">
						<h3 class="card_title">Animals</h3>
						<p class="card_date"><i class="fa-solid fa-calendar-days"></i><time datetime="2023-03-08"> &nbsp; <b>10 наурыз, 2023</b></time></p>
						<ul class="card_tags_list" role="list">
							<li class="card_hashtag"><i class="fas fa-hashtag"></i> <i>ағылшын тілі</i></li>
							<li class="card_hashtag"><i class="fas fa-hashtag"></i> <i>ойындар</i></li>
						</ul>
						<div class="card_meta_list">
							<a class="card_link" href="/component/error.html">Толығырақ</a>
						</div>
					</div>
				</article>

			</div>

		</div>
	</section>

	<section class="page_section">
		<div class="page_container">
			<p class="content_linktree">Тізімнің соңы. Жуырда тізім толығады, күтіңіз.</p>
		</div>
	</section>


	<footer class="page_footer">
		<div class="page_container">
			<div class="page_footnote">
				<div class="page_footnote_tag">
					<a class="page_footnote_title" href="/index.html"><b>edufile.</b></a>
					<p class="page_footnote_subtitle">Қол ұшын созыңыз! Сіз бұл жобаны қолдауыңыз арқылы одан әрі дамуына үлкен үлес қосасыз!</p>
				</div>

				<div class="page_footnote_social">
					<a class="page_footnote_social_link" href="https://www.youtube.com/channel/UCgsBtFRV--wrICXphD-H3Sg?sub_confirmation=1">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_youtube.svg" alt="social_icon"><span>YouTube</span>
					</a>
					<a class="page_footnote_social_link" href="https://t.me/edufilebot">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_telegram.svg" alt="social_icon"><span>Telegram-бот</span>
					</a>
				</div>

				<div class="page_footnote_social">
					<a class="page_footnote_social_link" href="tel:77789517778">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_whatsapp.svg" alt="social_icon"><span>+7 (778) 951-77-78</span>
					</a>
					<a class="page_footnote_social_link" href="mailto:diplomatpanda@protonmail.com">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_mail.svg" alt="social_icon"><span>diplomatpanda@protonmail.com</span>
					</a>
				</div>
			</div>

			<div class="page_footnote_bottom">
				<p class="page_footnote_copy">v3.0<i>(build#0223)</i> &copy;2023 <a class="page_footnote_copy_link" href="/component/developer.html">ninjawithoutkatana</a></p>
			</div>
		</div>
	</footer>

</body>

</html>