<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="referrer" content="no-referrer" />

	<script language="javascript">
		if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/Blackberry/i) || navigator.userAgent.match(/WebOs/i)) {
			window.location.replace("/component/notsupported");
		}
	</script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<link rel="stylesheet" href="/stylesheet/main.css">
	<link rel="stylesheet" href="/stylesheet/content.css">
	<link rel="stylesheet" href="/stylesheet/table.css">
	<link rel="stylesheet" href="/stylesheet/resource.css">
	<link rel="icon" type="image/svg" href="/visual/icon/icon_edufile.svg">
	<title>edufile. Materials</title>
</head>

<body>

	<header class="page_header">
		<div class="page_container">
			<nav class="page_navigate">
				<a class="page_navigate_logotype" href="/index">
					<img class="page_navigate_logotype_icon" src="/visual/icon/icon_edufile.svg" alt="logotype_icon">
				</a>
				<ul class="page_navigate_menu">
					<li class="page_navigate_menu_item">
						<a class="page_navigate_menu_link" href="/fragment/content">Бөлімдер</a>
					</li>
					<li class="page_navigate_menu_item">
						<a class="page_navigate_menu_link" href="/fragment/about">Жоба туралы</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="page_section">
		<div class="page_container">
			<a class="content_tohome_link" href="/fragment/content"><i class="fas fa-arrow-left"></i> Артқа</a>
			<h1 class="content_title">edufile. Materials</h1>
			<p class="content_linktree">басты бетше / бөлімдер / <b>Материалдар</b></p>
			<h3 class="content_subtitle">Ағылшын тілі пәніне арналған ресурстар (Кітаптар, жұмыс дәптерлері, аудиофайлдар, т.б. оқыту материалдары).</h3>

			<main class="table">
				<section class="table_header">
					<div class="table_title">
						<p class="table_name">Файлдар тізбегі</p>
						<p class="table_details"><i class="fa-solid fa-circle-info"></i> Басқа мәліметтерді алу және жүктеу үшін файл атауын басыңыз</p>
					</div>
					<div class="input-group">
						<input type="search" placeholder="Тізбектен іздеу...">
						<img src="/visual/icon/icon_search.svg" alt="search_icon">
					</div>
				</section>

				<section class="table_body">
					<table>
						<thead>
							<tr>
								<th><span class="icon-arrow"><i class="fa-solid fa-arrow-up"></i></span>Атауы</th>
								<th><span class="icon-arrow"><i class="fa-solid fa-arrow-up"></i></span>Түрі</th>
								<th><span class="icon-arrow"><i class="fa-solid fa-arrow-up"></i></span>Сынып</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td><label for="open-dialog-1"><img class="icon_format" src="/visual/icon/icon_pdf.svg" alt="format_icon">English Plus <b>Grade 5 Student’s book</b>, Wen Betz, Diana Pye, Oxford University Press</label></td>
								<td>Оқушы кітабы</td>
								<td><b>5 сынып</b></td>
							</tr>

							<tr>
								<td><label for="open-dialog-2"><img class="icon_format" src="/visual/icon/icon_pdf.svg" alt="format_icon">English Plus <b>Grade 5 Teacher’s book</b>, Rónán McGuinness, Lara Storton, Beth Godfrey, Oxford University Press</label></td>
								<td>Мұғалім кітабы</td>
								<td><b>5 сынып</b></td>
							</tr>

							<tr>
								<td><label for="open-dialog-3"><img class="icon_format" src="/visual/icon/icon_pdf.svg" alt="format_icon">English Plus <b>Grade 5 Workbook</b>, Janet Hardy-Bould, Oxford University Press</label></td>
								<td>Жұмыс дәптері</td>
								<td><b>5 сынып</b></td>
							</tr>

							<tr>
								<td><label for="open-dialog-4"><img class="icon_format" src="/visual/icon/icon_pdf.svg" alt="format_icon">English Plus <b>Grade 5 Workbook Answers</b></label></td>
								<td>Жауаптар</td>
								<td><b>5 сынып</b></td>
							</tr>

							<tr>
								<td><label for="open-dialog-5"><img class="icon_format" src="/visual/icon/icon_zip.svg" alt="format_icon">English Plus <b>Grade 5 Audiofiles CD</b></label></td>
								<td>Аудиофайлдар</td>
								<td><b>5 сынып</b></td>
							</tr>

							<tr>
								<td><label for="open-dialog-6"><img class="icon_format" src="/visual/icon/icon_pdf.svg" alt="format_icon">English Plus <b>Grade 6 Student’s book</b>, Wen Betz, Diana Pye, Oxford University Press</label></td>
								<td>Оқушы кітабы</td>
								<td><b>6 сынып</b></td>
							</tr>

							<tr>
								<td><label for="open-dialog-7"><img class="icon_format" src="/visual/icon/icon_pdf.svg" alt="format_icon">English Plus <b>Grade 6 Teacher’s book</b>, Emma Watkins, Bess Bradfield, Oxford University Press</label></td>
								<td>Мұғалім кітабы</td>
								<td><b>6 сынып</b></td>
							</tr>

							<tr>
								<td><label for="open-dialog-8"><img class="icon_format" src="/visual/icon/icon_pdf.svg" alt="format_icon">English Plus <b>Grade 6 Workbook</b>, Janet Hardy-Gould, Oxford University Press</label></td>
								<td>Жұмыс дәптері</td>
								<td><b>6 сынып</b></td>
							</tr>

							<tr>
								<td><label for="open-dialog-9"><img class="icon_format" src="/visual/icon/icon_pdf.svg" alt="format_icon">English Plus <b>Grade 6 Workbook Answers</b></label></td>
								<td>Жауаптар</td>
								<td><b>6 сынып</b></td>
							</tr>

							<tr>
								<td><label for="open-dialog-10"><img class="icon_format" src="/visual/icon/icon_zip.svg" alt="format_icon">English Plus <b>Grade 6 Audiofiles CD</b></label></td>
								<td>Аудиофайлдар</td>
								<td><b>6 сынып</b></td>
							</tr>

							<tr>
								<td><label for="open-dialog-11"><img class="icon_format" src="/visual/icon/icon_pdf.svg" alt="format_icon">English Plus <b>Grade 7 Student’s book</b>, Ben Wetz, James Styring, Nicholas Tims, Oxford University Press</label></td>
								<td>Оқушы кітабы</td>
								<td><b>7 сынып</b></td>
							</tr>

							<tr>
								<td><label for="open-dialog-12"><img class="icon_format" src="/visual/icon/icon_pdf.svg" alt="format_icon">English Plus <b>Grade 7 Teacher’s book</b>, Sheila Dignen, Emma Watkins, Peter Redpath, Oxford University Press</label></td>
								<td>Мұғалім кітабы</td>
								<td><b>7 сынып</b></td>
							</tr>

							<tr>
								<td><label for="open-dialog-13"><img class="icon_format" src="/visual/icon/icon_pdf.svg" alt="format_icon">English Plus <b>Grade 7 Workbook</b>, Janet Hardy-Gould, Kate Mellersh, Oxford University Press</label></td>
								<td>Жұмыс дәптері</td>
								<td><b>7 сынып</b></td>
							</tr>

							<tr>
								<td><label for="open-dialog-14"><img class="icon_format" src="/visual/icon/icon_pdf.svg" alt="format_icon">English Plus <b>Grade 7 Workbook Answers</b></label></td>
								<td>Жауаптар</td>
								<td><b>7 сынып</b></td>
							</tr>

							<tr>
								<td><label for="open-dialog-15"><img class="icon_format" src="/visual/icon/icon_zip.svg" alt="format_icon">English Plus <b>Grade 7 Audiofiles CD</b></label></td>
								<td>Аудиофайлдар</td>
								<td><b>7 сынып</b></td>
							</tr>
						</tbody>

					</table>
				</section>
			</main>

			<div class="material_container">
				<input type="checkbox" id="open-dialog-1" class="dialog_toggle"/>
				<label class="dialog_backstage" for="open-dialog-1"></label>
				<div class="dialog">
					<label class="dialog_close" for="open-dialog-1"></label>
					<div class="dialog_content">
						<h1 class="dialog_title">Файл туралы мәліметтер</h1>
						<div class="home_welcome">
							<img class="material_preview" src="/visual/preview/preview_material(1).png" alt="material_preview"/>
							<div class="material_details_list">
								<p class="dialog_description"><i class="fa-solid fa-circle-info"></i> <b>Анықтама</b></p>
								<span class="status green">Оқушы кітабы</span>&nbsp;<span class="status blue">5 сынып</span>
								<p class="dialog_description">English Plus <b>Grade 5 Student’s book</b>, Wen Betz, Oxford University Press</p>
								<p class="dialog_description"><b>Автор:</b> Wen Betz, Diana Pye<br><b>Баспа:</b> Oxford University</p>
								<a class="dialog_link" href="https://mega.nz/file/LAVzyYCS#BEDfjBUjBekF45k_NOi1fnajnO1YorAL1F026cvXC1s">Жүктеу <i class="fas fa-download"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="material_container">
				<input type="checkbox" id="open-dialog-2" class="dialog_toggle"/>
				<label class="dialog_backstage" for="open-dialog-2"></label>
				<div class="dialog">
					<label class="dialog_close" for="open-dialog-2"></label>
					<div class="dialog_content">
						<h1 class="dialog_title">Файл туралы мәліметтер</h1>
						<div class="home_welcome">
							<img class="material_preview" src="/visual/preview/preview_material(2).png" alt="material_preview"/>
							<div class="material_details_list">
								<p class="dialog_description"><i class="fa-solid fa-circle-info"></i> <b>Анықтама</b></p>
								<span class="status yellow">Мұғалім кітабы</span>&nbsp;<span class="status blue">5 сынып</span>
								<p class="dialog_description">English Plus <b>Grade 5 Teacher’s book</b>, Oxford University Press</p>
								<p class="dialog_description"><b>Автор:</b> Rónán McGuinness, Lara Storton, Beth Godfrey<br><b>Баспа:</b> Oxford University</p>
								<a class="dialog_link" href="https://mega.nz/file/aZt1TaoY#sriyzlg-QdhudNotnv2-vBO44znrR9wvoyRBzHsGe0I">Жүктеу <i class="fas fa-download"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="material_container">
				<input type="checkbox" id="open-dialog-3" class="dialog_toggle"/>
				<label class="dialog_backstage" for="open-dialog-3"></label>
				<div class="dialog">
					<label class="dialog_close" for="open-dialog-3"></label>
					<div class="dialog_content">
						<h1 class="dialog_title">Файл туралы мәліметтер</h1>
						<div class="home_welcome">
							<img class="material_preview" src="/visual/preview/preview_material(3).png" alt="material_preview"/>
							<div class="material_details_list">
								<p class="dialog_description"><i class="fa-solid fa-circle-info"></i> <b>Анықтама</b></p>
								<span class="status green">Жұмыс дәптері</span>&nbsp;<span class="status blue">5 сынып</span>
								<p class="dialog_description">English Plus <b>Grade 5 Workbook</b>, Janet Hardy-Bould, Oxford University Press</p>
								<p class="dialog_description"><b>Автор:</b> Janet Hardy-Bould<br><b>Баспа:</b> Oxford University</p>
								<a class="dialog_link" href="https://mega.nz/file/DM1mFSxQ#Z5pxrZ9EL2PvqjdqH_wXYa-QcEu8UPyicpijtWnzoGY">Жүктеу <i class="fas fa-download"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="material_container">
				<input type="checkbox" id="open-dialog-4" class="dialog_toggle"/>
				<label class="dialog_backstage" for="open-dialog-4"></label>
				<div class="dialog">
					<label class="dialog_close" for="open-dialog-4"></label>
					<div class="dialog_content">
						<h1 class="dialog_title">Файл туралы мәліметтер</h1>
						<div class="home_welcome">
							<img class="material_preview" src="/visual/preview/preview_material(4).png" alt="material_preview"/>
							<div class="material_details_list">
								<p class="dialog_description"><i class="fa-solid fa-circle-info"></i> <b>Анықтама</b></p>
								<span class="status yellow">Жауаптар</span>&nbsp;<span class="status blue">5 сынып</span>
								<p class="dialog_description">English Plus <b>Grade 5 Workbook Answers</b></p>
								<p class="dialog_description"><b>Автор:</b> <i>-</i><br><b>Баспа:</b> Oxford University</p>
								<a class="dialog_link" href="https://mega.nz/file/zNkVxaQT#wz8J-JJxD9tEC_xCwspVBO_kpMW9jFbLTRjkfFNK6G0">Жүктеу <i class="fas fa-download"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="material_container">
				<input type="checkbox" id="open-dialog-5" class="dialog_toggle"/>
				<label class="dialog_backstage" for="open-dialog-5"></label>
				<div class="dialog">
					<label class="dialog_close" for="open-dialog-5"></label>
					<div class="dialog_content">
						<h1 class="dialog_title">Файл туралы мәліметтер</h1>
						<div class="home_welcome">
							<img class="material_preview" src="/visual/preview/preview_material(5).png" alt="material_preview"/>
							<div class="material_details_list">
								<p class="dialog_description"><i class="fa-solid fa-circle-info"></i> <b>Анықтама</b></p>
								<span class="status red">Аудиофайлдар</span>&nbsp;<span class="status blue">5 сынып</span>
								<p class="dialog_description">English Plus <b>Grade 5 Audiofiles CD</b></p>
								<p class="dialog_description"><b>Формат:</b> <img class="icon_format" src="/visual/icon/icon_mp3.svg" alt="format_icon"> <i>(архив бумасы)</i></p>
								<a class="dialog_link" href="#">Жүктеу <i class="fas fa-download"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<script src="/script/table.js"></script>

		</div>
	</section>

	<footer class="page_footer">
		<div class="page_container">
			<div class="page_footnote">
				<div class="page_footnote_tag">
					<a class="page_footnote_title" href="/index"><b>edufile.</b></a>
					<p class="page_footnote_subtitle">Қол ұшын созыңыз! Сіз бұл жобаны қолдауыңыз арқылы одан әрі дамуына үлкен
						үлес қосасыз!</p>
				</div>

				<div class="page_footnote_social">
					<a class="page_footnote_social_link"
						href="https://www.youtube.com/channel/UCgsBtFRV--wrICXphD-H3Sg?sub_confirmation=1">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_youtube.svg"
							alt="social_icon"><span>YouTube</span>
					</a>
					<a class="page_footnote_social_link" href="https://t.me/edufilebot">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_telegram.svg"
							alt="social_icon"><span>Telegram-бот</span>
					</a>
				</div>

				<div class="page_footnote_social">
					<a class="page_footnote_social_link" href="tel:77789517778">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_whatsapp.svg" alt="social_icon"><span>+7 (778)
							951-77-78</span>
					</a>
					<a class="page_footnote_social_link" href="mailto:diplomatpanda@protonmail.com">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_mail.svg"
							alt="social_icon"><span>diplomatpanda@protonmail.com</span>
					</a>
				</div>
			</div>

			<div class="page_footnote_bottom">
				<p class="page_footnote_copy">v6.2-prerelease <i>(build#0325)</i> &copy;2023-2025 <a class="page_footnote_copy_link" href="/component/developer">ninjawithoutkatana</a> - <a class="page_footnote_copy_link" href="/index">«edufile.»</a> - repository of Educational Files and Platforms</p>
			</div>
		</div>
	</footer>

</body>

</html>