<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script language="javascript">
		if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/Blackberry/i) || navigator.userAgent.match(/WebOs/i)) {
			window.location.replace("/component/notsupported");
		}
	</script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<link rel="stylesheet" href="/stylesheet/main.css">
	<link rel="stylesheet" href="/stylesheet/content.css">
	<link rel="stylesheet" href="/stylesheet/platform.css">
	<link rel="icon" type="image/svg" href="/visual/icon/icon_edufile.svg">
	<title>edufile. Platforms</title>
</head>

<body>

	<header class="page_header">
		<div class="page_container">
			<nav class="page_navigate">
				<a class="page_navigate_logotype" href="/index">
					<img class="page_navigate_logotype_icon" src="/visual/icon/icon_edufile.svg" alt="logotype_icon">
				</a>
				<ul class="page_navigate_menu">
					<li class="page_navigate_menu_item">
						<a class="page_navigate_menu_link" href="/fragment/content">Бөлімдер</a>
					</li>
					<li class="page_navigate_menu_item">
						<a class="page_navigate_menu_link" href="/fragment/about">Жоба туралы</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="page_section">
		<div class="page_container">
			<a class="content_tohome_link" href="/fragment/content"><i class="fas fa-arrow-left"></i> Артқа</a>
			<h1 class="content_title">edufile. Platforms</h1>
			<p class="content_linktree">басты бетше / бөлімдер / <b>Қосымшалар</b></p>
			<h3 class="content_subtitle">Қосымшалар туралы барлық анықтамалар видеомен нұсқаулықтар түрінде көрсетілген.</h3>





			<div class="content_container">
				<div class="platform_container_child_a">
					<div class="content_child">
						<div class="content_child_view">
							<img class="platform_child_preview" src="/visual/preview/preview_platform(1).png" alt="platform_preview">
						</div>
						<div class="content_child_list">
							<h1 class="banner_a_title">Canva</h1>
							<p class="banner_a_subtitle">Canva қосымшасы кез - келген сандық және баспа өнімдерін жасауға мүмкіндік береді (слайд, бейнеролик, т.б.).</p>
							<a class="banner_a_link" href="/fragment/platform-a">Жалғастыру <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
						</div>
					</div>
				</div>

				<div class="platform_container_child_b">
					<div class="content_child">
						<div class="content_child_view">
							<img class="platform_child_preview" src="/visual/preview/preview_platform(2).png" alt="platform_preview">
						</div>
						<div class="content_child_list">
							<h1 class="banner_b_title">Kahoot</h1>
							<p class="banner_b_subtitle">Kahoot қосымшасы материалдарды толық қамтып, білімді меңгертуге арналған тест сұрақтарын құруға мүмкіндік береді.</p>
							<a class="banner_b_link" href="/component/error">Жалғастыру <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
						</div>
					</div>
				</div>
			</div>

			<div class="content_container">
				<div class="platform_container_child_c">
					<div class="content_child">
						<div class="content_child_view">
							<img class="platform_child_preview" src="/visual/preview/preview_platform(3).png" alt="platform_preview">
						</div>
						<div class="content_child_list">
							<h1 class="banner_a_title">Quizizz</h1>
							<p class="banner_a_subtitle">Quizizz қосымшасы арқылы сіз оқушылардың білімін тез және оңай тексере аласыз. Атқарым бойынша Kahoot қосымшасына ұқсайды.</p>
							<a class="banner_a_link" href="/component/error">Жалғастыру <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
						</div>
					</div>
				</div>

				<div class="platform_container_child_d">
					<div class="content_child">
						<div class="content_child_view">
							<img class="platform_child_preview" src="/visual/preview/preview_platform(4).png" alt="platform_preview">
						</div>
						<div class="content_child_list">
							<h1 class="banner_b_title">Wooclap</h1>
							<p class="banner_b_subtitle">Wooclap қосымшасы арқылы түрлі форматта сауалнамалар мен тест тапсырмаларын алуға болады. Кері байланыс ретінде қолданылады.</p>
							<a class="banner_b_link" href="/component/error">Жалғастыру <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
						</div>
					</div>
				</div>
			</div>

      <div class="content_container">
        <div class="platform_container_child_e">
          <div class="content_child">
            <div class="content_child_view">
              <img class="platform_child_preview" src="/visual/preview/preview_platform(5).png" alt="platform_preview">
            </div>
            <div class="content_child_list">
              <h1 class="banner_b_title">Focusky</h1>
              <p class="banner_b_subtitle">Креативті, әдемі, 3D форматында құрастырылатын презентация конструкторы. Өте ыңғайлы интерфейсі арқылы слайдтарды жылдам жасай аласыз.</p>
              <a class="banner_b_link" href="/component/error">Жалғастыру <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
        </div>

        <div class="platform_container_child_f">
          <div class="content_child">
            <div class="content_child_view">
              <img class="platform_child_preview" src="/visual/preview/preview_platform(6).png" alt="platform_preview">
            </div>
            <div class="content_child_list">
              <h1 class="banner_a_title">Educaplay</h1>
              <p class="banner_a_subtitle">Ойын тапсырмалары мен жаттығуларын жасауға арналған платформа. Викториналарды, тесттерді және т.б. тегін және шектеусіз жасай аласыз.</p>
              <a class="banner_a_link" href="/component/error">Жалғастыру <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
        </div>


      </div>

		</div>
	</section>

	<footer class="page_footer">
		<div class="page_container">
			<div class="page_footnote">
				<div class="page_footnote_tag">
					<a class="page_footnote_title" href="/index"><b>edufile.</b></a>
					<p class="page_footnote_subtitle">Қол ұшын созыңыз! Сіз бұл жобаны қолдауыңыз арқылы одан әрі дамуына үлкен үлес қосасыз!</p>
				</div>

				<div class="page_footnote_social">
					<a class="page_footnote_social_link" href="https://www.youtube.com/channel/UCgsBtFRV--wrICXphD-H3Sg?sub_confirmation=1">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_youtube.svg" alt="social_icon"><span>YouTube</span>
					</a>
					<a class="page_footnote_social_link" href="https://t.me/edufilebot">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_telegram.svg" alt="social_icon"><span>Telegram-бот</span>
					</a>
				</div>

				<div class="page_footnote_social">
					<a class="page_footnote_social_link" href="tel:77789517778">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_whatsapp.svg" alt="social_icon"><span>+7 (778) 951-77-78</span>
					</a>
					<a class="page_footnote_social_link" href="mailto:diplomatpanda@protonmail.com">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_mail.svg" alt="social_icon"><span>diplomatpanda@protonmail.com</span>
					</a>
				</div>
			</div>

			<div class="page_footnote_bottom">
				<p class="page_footnote_copy">v6.2-prerelease <i>(build#0325)</i> &copy;2023-2025 <a class="page_footnote_copy_link" href="/component/developer">ninjawithoutkatana</a> - <a class="page_footnote_copy_link" href="/index">«edufile.»</a> - repository of Educational Files and Platforms</p>
			</div>
		</div>
	</footer>

</body>

</html>