<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script language="javascript">
		if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/Blackberry/i) || navigator.userAgent.match(/WebOs/i)) {
			window.location.replace("/component/notsupported.html");
		}
	</script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<link rel="stylesheet" href="/stylesheet/main.css">
	<link rel="stylesheet" href="/stylesheet/content.css">
	<link rel="stylesheet" href="/stylesheet/resource.css">
	<link rel="icon" type="image/svg" href="/visual/icon/icon_edufile.svg">
	<title>edufile. Resources</title>
</head>

<body>

	<header class="page_header">
		<div class="page_container">
			<nav class="page_navigate">
				<a class="page_navigate_logotype" href="/index.html">
					<img class="page_navigate_logotype_icon" src="/visual/icon/icon_edufile.svg" alt="logotype_icon">
				</a>
				<ul class="page_navigate_menu">
					<li class="page_navigate_menu_item">
						<a class="page_navigate_menu_link" href="/fragment/content.html">Бөлімдер</a>
					</li>
					<li class="page_navigate_menu_item">
						<a class="page_navigate_menu_link" href="/fragment/about.html">Жоба туралы</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="page_section">
		<div class="page_container">
			<a class="content_tohome_link" href="/fragment/content.html"><i class="fas fa-arrow-left"></i> Артқа</a>
			<h1 class="content_title">edufile. Resources</h1>
			<p class="content_linktree">басты бетше / бөлімдер / <b>Ресурстар</b></p>
			<h3 class="content_subtitle">Мұғалімге қажетті барлық құжаттардың жинақтама бетшесі. Негізінен осы бетшедегі ресурстардың басым бөлігі ағылшын тілі пәніне арналған жинақтама материалдары.</h3>

			<div class="resources_container">
				<img class="resources_type" src="/visual/icon/icon_powerpoint.svg" alt="resources_type">
				<img class="resources_type_preview" src="/visual/preview/preview_resource(1).png" alt="resources_type_preview">
				<div class="resources_list">
					<p class="resources_author"><span><i class="fas fa-money-bill"></i> 500₸</span> &nbsp; <i class="fas fa-clock"></i> 22.01.2023 &nbsp; <i class="fas fa-hashtag"></i> <i>english presentation</i></p>
					<h4 class="resources_title">Animals & Degrees of Comparison</h4>
					<p class="resources_description">Жануарлар және Сын есімнің шырайлары</p>
				</div>
				<div class="resources_purchase">
					<label class="resources_link" for="open-dialog"><i class="fa-solid fa-cart-arrow-down"></i> Сатып алу</label>
				</div>
			</div>

			<div class="resources_container">
				<img class="resources_type" src="/visual/icon/icon_powerpoint.svg" alt="resources_type">
				<img class="resources_type_preview" src="/visual/preview/preview_resource(2).png" alt="resources_type_preview">
				<div class="resources_list">
					<p class="resources_author"><b><i class="fa-regular fa-thumbs-up"></i> Тегін</b> &nbsp; <i class="fas fa-clock"></i> 22.01.2023 &nbsp; <i class="fas fa-hashtag"></i> <i>english presentation</i></p>
					<h4 class="resources_title">Flora and Fauna in Kazakhstan</h4>
					<p class="resources_description">Қазақстанның флора және фаунасы</p>
				</div>
				<div class="resources_purchase">
					<a class="resources_link" href="https://getfile.dokpub.com/yandex/get/https://disk.yandex.com/i/yFs81RR6Tm88Gw" rel="noreferrer"><i class="fas fa-download"></i> Жүктеу</a>
				</div>
			</div>

			<div class="resources_container">
				<img class="resources_type" src="/visual/icon/icon_powerpoint.svg" alt="resources_type">
				<img class="resources_type_preview" src="/visual/preview/preview_resource(3).png" alt="resources_type_preview">
				<div class="resources_list">
					<p class="resources_author"><b><i class="fa-regular fa-thumbs-up"></i> Тегін</b> &nbsp; <i class="fas fa-clock"></i> 23.01.2023 &nbsp; <i class="fas fa-hashtag"></i> <i>english presentation</i></p>
					<h4 class="resources_title">Past Simple</h4>
					<p class="resources_description">Жай өткен шақ</p>
				</div>
				<div class="resources_purchase">
					<a class="resources_link" href="https://getfile.dokpub.com/yandex/get/https://disk.yandex.com/i/IikccFFhinisJQ" rel="noreferrer"><i class="fas fa-download"></i> Жүктеу</a>
				</div>
			</div>

			<div class="resources_container">
				<img class="resources_type" src="/visual/icon/icon_powerpoint.svg" alt="resources_type">
				<img class="resources_type_preview" src="/visual/preview/preview_resource(4).png" alt="resources_type_preview">
				<div class="resources_list">
					<p class="resources_author"><b><i class="fa-regular fa-thumbs-up"></i> Тегін</b> &nbsp; <i class="fas fa-clock"></i> 23.01.2023 &nbsp; <i class="fas fa-hashtag"></i> <i>english presentation</i></p>
					<h4 class="resources_title">Have got: affirmative</h4>
					<p class="resources_description">Иелік ету, адамдар мен заттарға байланысты қолданылатын етістік</p>
				</div>
				<div class="resources_purchase">
					<a class="resources_link" href="https://getfile.dokpub.com/yandex/get/https://disk.yandex.com/i/YobyljIm-aKp8w" rel="noreferrer"><i class="fas fa-download"></i> Жүктеу</a>
				</div>
			</div>

			<div class="resources_container">
				<img class="resources_type" src="/visual/icon/icon_powerpoint.svg" alt="resources_type">
				<img class="resources_type_preview" src="/visual/preview/preview_resource(5).png" alt="resources_type_preview">
				<div class="resources_list">
					<p class="resources_author"><span><i class="fas fa-money-bill"></i> 500₸</span> &nbsp; <i class="fas fa-clock"></i> 23.01.2023 &nbsp; <i class="fas fa-hashtag"></i> <i>english presentation</i></p>
					<h4 class="resources_title">Wh-questions</h4>
					<p class="resources_description">Арнайы сұраулар. Жиі қолданылатын сұраулы сөздер</p>
				</div>
				<div class="resources_purchase">
					<label class="resources_link" for="open-dialog"><i class="fa-solid fa-cart-arrow-down"></i> Сатып алу</label>
				</div>
			</div>

			<div class="resources_container">
				<img class="resources_type" src="/visual/icon/icon_word.svg" alt="resources_type">
				<img class="resources_type_preview" src="/visual/preview/preview_resource(6).png" alt="resources_type_preview">
				<div class="resources_list">
					<p class="resources_author"><span><i class="fas fa-money-bill"></i> 500₸</span> &nbsp; <i class="fas fa-clock"></i> 23.01.2023 &nbsp; <i class="fas fa-hashtag"></i> <i>әдіс-тәсіл</i></p>
					<h4 class="resources_title">Әдіс-тәсілдер жинағы</h4>
					<p class="resources_description">Сабақта қолданылатын әдіс-тәсілдермен психологиялық тренингтер жинағы</p>
				</div>
				<div class="resources_purchase">
					<label class="resources_link" for="open-dialog"><i class="fa-solid fa-cart-arrow-down"></i> Сатып алу</label>
				</div>
			</div>

			<div class="resources_container">
				<img class="resources_type" src="/visual/icon/icon_word.svg" alt="resources_type">
				<img class="resources_type_preview" src="/visual/preview/preview_resource(7).png" alt="resources_type_preview">
				<div class="resources_list">
					<p class="resources_author"><span><i class="fas fa-money-bill"></i> 500₸</span> &nbsp; <i class="fas fa-clock"></i> 23.01.2023 &nbsp; <i class="fas fa-hashtag"></i> <i>әдіс-тәсіл</i></p>
					<h4 class="resources_title">Әдіс-тәсілдер қоймасы</h4>
					<p class="resources_description">Оқытудағы жаңа әдіс-тәсілдер қоржыны</p>
				</div>
				<div class="resources_purchase">
					<label class="resources_link" for="open-dialog"><i class="fa-solid fa-cart-arrow-down"></i> Сатып алу</label>
				</div>
			</div>

			<div class="purchase_container">
				<input type="checkbox" id="open-dialog" class="dialog_toggle"/>
				<label class="dialog_backstage" for="open-dialog"></label>
				<div class="dialog">
					<label class="dialog_close" for="open-dialog"></label>
					<div class="dialog_content">
						<h1 class="dialog_title">edufile. Purchase</h1>
						<p class="dialog_description">Біздің қосымшада кейбір материалдар қолжетімді емес. Оны жүктеп алу үшін төлем жасау керек.</p>
						<img class="purchase_preview" src="/visual/headline/headline_purchase.png" alt=""/>
						<p class="dialog_description"><i class="fa-solid fa-circle-info"></i> <b>Нұсқаулық</b></p>
						<p class="dialog_description">Ең алдымен материалды анықтап алып, мазмұнымен танысыңыз. Содан кейін төмендегі сілтеме арқылы сату бөлімінің чатына өтіңіз, бағасын біліп алған соң, Kaspi Gold арқылы төлем жасаңыз. Төлем жасағаннан кейін төлем чегін бөлісу мәзірі арқылы бізге жіберіңіз, содан кейін файлды жүктеуге арналған сілтемесін аласыз.</p>
						<p class="dialog_description">Егер сұрақтарыңыз болса бізге хабарлаңыз! Байланысу үшін WhatsApp чатқа жазыңыз немесе поштаға хат жолдаңыз.</p>
						<a class="dialog_link" href="https://wa.me/77789517778?text=%D0%A1%D3%99%D0%BB%D0%B5%D0%BC%D0%B5%D1%82%D1%81%D1%96%D0%B7%20%D0%B1%D0%B5!%20%D0%9C%D0%B5%D0%BD%20edufile.%20%D2%9B%D0%BE%D1%81%D1%8B%D0%BC%D1%88%D0%B0%D1%81%D1%8B%D0%BD%D0%B0%D0%BD%20%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%20%D1%81%D0%B0%D1%82%D1%8B%D0%BF%20%D0%B0%D0%BB%D1%83%20%D0%B6%D3%A9%D0%BD%D1%96%D0%BD%D0%B4%D0%B5%20%D1%81%D2%B1%D1%80%D0%B0%D2%93%D1%8B%D0%BC%20%D0%B1%D0%B0%D1%80!">Сату бөлімінің чатына өту <i class="fa-solid fa-arrow-up-right-from-square"></i></a></a>
					</div>
				</div>
			</div>

		</div>
	</section>

	<footer class="page_footer">
		<div class="page_container">
			<div class="page_footnote">
				<div class="page_footnote_tag">
					<a class="page_footnote_title" href="/index.html"><b>edufile.</b></a>
					<p class="page_footnote_subtitle">Қол ұшын созыңыз! Сіз бұл жобаны қолдауыңыз арқылы одан әрі дамуына үлкен үлес қосасыз!</p>
				</div>

				<div class="page_footnote_social">
					<a class="page_footnote_social_link" href="https://www.youtube.com/channel/UCgsBtFRV--wrICXphD-H3Sg?sub_confirmation=1">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_youtube.svg" alt="social_icon"><span>YouTube</span>
					</a>
					<a class="page_footnote_social_link" href="https://t.me/edufilebot">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_telegram.svg" alt="social_icon"><span>Telegram-бот</span>
					</a>
				</div>

				<div class="page_footnote_social">
					<a class="page_footnote_social_link" href="tel:77789517778">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_whatsapp.svg" alt="social_icon"><span>+7 (778) 951-77-78</span>
					</a>
					<a class="page_footnote_social_link" href="mailto:diplomatpanda@protonmail.com">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_mail.svg" alt="social_icon"><span>diplomatpanda@protonmail.com</span>
					</a>
				</div>
			</div>

			<div class="page_footnote_bottom">
				<p class="page_footnote_copy">v4.0<i>(build#0623)</i> &copy;2023 <a class="page_footnote_copy_link" href="/component/developer.html">ninjawithoutkatana</a></p>
			</div>
		</div>
	</footer>

</body>

</html>