<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="referrer" content="no-referrer"/>

	<script language="javascript">
		if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/Blackberry/i) || navigator.userAgent.match(/WebOs/i)) {
			window.location.replace("/component/notsupported");
		}
	</script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<link rel="stylesheet" href="/stylesheet/main.css">
	<link rel="stylesheet" href="/stylesheet/content.css">
	<link rel="stylesheet" href="/stylesheet/table.css">

	<link rel="icon" type="image/svg" href="/visual/icon/icon_edufile.svg">
	<title>edufile. Specifications</title>
</head>

<body>

	<header class="page_header">
		<div class="page_container">
			<nav class="page_navigate">
				<a class="page_navigate_logotype" href="/index">
					<img class="page_navigate_logotype_icon" src="/visual/icon/icon_edufile.svg" alt="logotype_icon">
				</a>
				<ul class="page_navigate_menu">
					<li class="page_navigate_menu_item">
						<a class="page_navigate_menu_link" href="/fragment/content">Бөлімдер</a>
					</li>
					<li class="page_navigate_menu_item">
						<a class="page_navigate_menu_link" href="/fragment/about">Жоба туралы</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="page_section">
		<div class="page_container">
			<a class="content_tohome_link" href="/fragment/content"><i class="fas fa-arrow-left"></i> Артқа</a>
			<h1 class="content_title">edufile. Specifications</h1>
			<p class="content_linktree">басты бетше / бөлімдер / <b>Спецификациялар</b></p>
			<h3 class="content_subtitle">Бөлім бойынша және Тоқсан бойынша жиынтық бағалаудың спецификациялары.</h3>

			<main class="table">
				<section class="table_header">
					<div class="table_title">
						<p class="table_name">Файлдар тізбегі</p>
						<p class="table_details"><i class="fa-solid fa-circle-info"></i> Басқа мәліметтерді алу және жүктеу үшін файл атауын басыңыз</p>
					</div>
					<div class="input-group">
						<input type="search" placeholder="Тізбектен іздеу...">
						<img src="/visual/icon/icon_search.svg" alt="search_icon">
					</div>
				</section>
				
				<section class="table_body">
					<table>
						<thead>
							<tr>
								<th><span class="icon-arrow"><i class="fa-solid fa-arrow-up"></i></span>Атауы</th>
								<th><span class="icon-arrow"><i class="fa-solid fa-arrow-up"></i></span>Түрі</th>
								<th><span class="icon-arrow"><i class="fa-solid fa-arrow-up"></i></span>Сынып</th>
							</tr>
						</thead>

						<tbody>
							<tr onclick="window.location.href = 'https://getfile.dokpub.com/yandex/get/https://disk.yandex.com/i/lq-xIQJNAGMZgw';">
								<td><img class="icon_format" src="/visual/icon/icon_pdf.svg" alt="format_type">Methodological recommendations for Summative Assessment <b>GRADE 2</b></td>
								<td>Бөлім, Тоқсан</td>
								<td><b>2 сынып</b></td>
							</tr>

							<tr onclick="window.location.href = 'https://getfile.dokpub.com/yandex/get/https://disk.yandex.com/i/gCk3_W2LekQ6Ww';">
								<td><img class="icon_format" src="/visual/icon/icon_pdf.svg" alt="format_type">Methodological recommendations for Summative Assessment <b>GRADE 3</b></td>
								<td>Бөлім, Тоқсан</td>
								<td><b>3 сынып</b></td>
							</tr>

							<tr onclick="window.location.href = 'https://getfile.dokpub.com/yandex/get/https://disk.yandex.com/i/x1hw6LBBO5NO5g';">
								<td><img class="icon_format" src="/visual/icon/icon_pdf.svg" alt="format_type">Methodological recommendations for Summative Assessment <b>GRADE 4</b></td>
								<td>Бөлім, Тоқсан</td>
								<td><b>4 сынып</b></td>
							</tr>

							<tr onclick="window.location.href = 'https://getfile.dokpub.com/yandex/get/https://disk.yandex.com/i/Mg_oAn-ioxrT4Q';">
								<td><img class="icon_format" src="/visual/icon/icon_pdf.svg" alt="format_type">Specification of Summative Assessment for the UNIT <b>GRADE 5</b> <i>(аудио жоқ)</i></td>
								<td>Бөлім</td>
								<td><b>5 сынып</b></td>
							</tr>

							<tr onclick="window.location.href = 'https://getfile.dokpub.com/yandex/get/https://disk.yandex.com/i/anAqpyleEewEFg';">
								<td><img class="icon_format" src="/visual/icon/icon_pdf.svg" alt="format_type">Specification of Summative Assessment for the TERM <b>GRADE 5</b></td>
								<td>Тоқсан</td>
								<td><b>5 сынып</b></td>
							</tr>

							<tr onclick="window.location.href = 'https://getfile.dokpub.com/yandex/get/https://disk.yandex.com/d/pKyiZAokxaxMLg';">
								<td><img class="icon_format" src="/visual/icon/icon_zip.svg" alt="format_type">Specification of Summative Assessment <b>GRADE 6</b></td>
								<td>Бөлім, Тоқсан</td>
								<td><b>6 сынып</b></td>
							</tr>

							<tr onclick="window.location.href = 'https://getfile.dokpub.com/yandex/get/https://disk.yandex.com/d/8q7kDu8gxTOgfw';">
								<td><img class="icon_format" src="/visual/icon/icon_zip.svg" alt="format_type">Specification of Summative Assessment <b>GRADE 7</b></td>
								<td>Бөлім, Тоқсан</td>
								<td><b>7 сынып</b></td>
							</tr>

							<tr onclick="window.location.href = 'https://getfile.dokpub.com/yandex/get/https://disk.yandex.com/d/wtcyMHyvw37Z3w';">
								<td><img class="icon_format" src="/visual/icon/icon_zip.svg" alt="format_type">Specification of Summative Assessment <b>GRADE 8</b></td>
								<td>Бөлім, Тоқсан</td>
								<td><b>8 сынып</b></td>
							</tr>
						</tbody>
					</table>
				</section>
			</main>

			<script src="/script/table.js"></script>

		</div>
	</section>

	<footer class="page_footer">
		<div class="page_container">
			<div class="page_footnote">
				<div class="page_footnote_tag">
					<a class="page_footnote_title" href="/index"><b>edufile.</b></a>
					<p class="page_footnote_subtitle">Қол ұшын созыңыз! Сіз бұл жобаны қолдауыңыз арқылы одан әрі дамуына үлкен үлес қосасыз!</p>
				</div>

				<div class="page_footnote_social">
					<a class="page_footnote_social_link" href="https://www.youtube.com/channel/UCgsBtFRV--wrICXphD-H3Sg?sub_confirmation=1">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_youtube.svg" alt="social_icon"><span>YouTube</span>
					</a>
					<a class="page_footnote_social_link" href="https://t.me/edufilebot">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_telegram.svg" alt="social_icon"><span>Telegram-бот</span>
					</a>
				</div>

				<div class="page_footnote_social">
					<a class="page_footnote_social_link" href="tel:77789517778">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_whatsapp.svg" alt="social_icon"><span>+7 (778) 951-77-78</span>
					</a>
					<a class="page_footnote_social_link" href="mailto:diplomatpanda@protonmail.com">
						<img class="page_footnote_social_icon" src="/visual/icon/icon_mail.svg" alt="social_icon"><span>diplomatpanda@protonmail.com</span>
					</a>
				</div>
			</div>

			<div class="page_footnote_bottom">
        <p class="page_footnote_copy">v6.2-prerelease <i>(build#0325)</i> &copy;2023-2025 <a class="page_footnote_copy_link" href="/component/developer">ninjawithoutkatana</a> - <a class="page_footnote_copy_link" href="/index">«edufile.»</a> - repository of Educational Files and Platforms</p>
			</div>
		</div>
	</footer>

</body>

</html>