<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script language="javascript">
    if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/Blackberry/i) || navigator.userAgent.match(/WebOs/i)) {
      window.location.replace("/component/notsupported");
    }
  </script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="/stylesheet/main.css">
  <link rel="stylesheet" href="/stylesheet/content.css">
  <link rel="stylesheet" href="/stylesheet/about.css">
  <link rel="icon" type="image/svg" href="/visual/icon/icon_edufile.svg">
  <title>edufile. Қызмет көрсету шарты</title>
</head>

<body>

  <header class="page_header">
    <div class="page_container">
      <nav class="page_navigate">
        <a class="page_navigate_logotype" href="/index">
          <img class="page_navigate_logotype_icon" src="/visual/icon/icon_edufile.svg" alt="logotype_icon">
        </a>
        <ul class="page_navigate_menu">
          <li class="page_navigate_menu_item">
            <a class="page_navigate_menu_link" href="/fragment/content">Бөлімдер</a>
          </li>
          <li class="page_navigate_menu_item">
            <a class="page_navigate_menu_link" href="/fragment/about">Жоба туралы</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="page_section">
    <div class="page_container">
      <div class="content_container_a">
        <div class="content_child_list">
          <img class="agreement_preview" src="/visual/decor/decor_agreement.svg" alt="agreement_preview">
        </div>
        <div class="content_child_list">
          <h1 class="content_title">Қызмет көрсету шарты</h1>
          <h3 class="content_subtitle">Бұл келісім пайдаланушының <b>edufile.</b> жүйесіндегі (ары қарай «Қосымша») материалдар мен сервистерді қолдану шарттарын айқындайды.</h3>
        </div>
      </div>
      <h3 class="agreement_description">      
      <p>Жалпы ережелер</p>
      Қосымшадағы материалдар мен сервистерді қолдану Қазақстан Республикасының қолданыстағы заң нормаларымен реттеледі.
      Бұл келісім көпшілікке арналған оферта. Қосымша материалдарына рұқсат алған пайдаланушы аталған келісімді мақұлдайтын тұлға
      ретінде танылады.<br><br>
      Қосымша әкімшілігі кез келген уақытта біржақты тәртіппен келісімнің шарттарын өзгертуге құқылы. Мұндай өзгертулер жаңа
      нұсқаны Қосымшаға орналастырғаннан кейін 3 күннен соң күшіне енеді. Пайдаланушы келісім шарттарымен келіспеген жағдайда ол
      Қосымшаға кіру мүмкіндіктерінен бас тарту керек және Қосымшаның материалдары мен сервисін пайдалануды тоқтату керек.<br>
      <p>Пайдаланушы міндеттемелері</p>
      Пайдаланушы Қосымшаның қызметіне және оның сервистеріне нұқсан келтіретін, атап айтқанда, Қазақстан Республикасының
      заңнамаларына сол сияқты халықаралық заңнамалық актілерге, интеллектуалдық меншік саласы, авторлық және қосалқы құқықтар
      және т.б. қиғаш келетін әрекеттерге бармайтынына келісім береді.<br><br>
      Қосымша материалдарын құқық иелерінің рұқсатынсыз қолдануға болмайды. (Қосымша материалдарын құқықтық негізде қолдану үшін
      Құқық иелерінен алынған лицензиялық келісім шарттар болуы керек).<br><br>
      Қосымша материалдарынан үзінді алған жағдайда авторлық шығарманың құқығын сақтай отырып Қосымшаға сілтеме жасау міндетті.
      Пайдаланушының комментарийлері мен басқа да жазбалары Қазақстан Республикасының заңнамалық актілерінің баптарына және де
      жалпыға бірдей қабылданған ар-намыс, адамгершілік нормаларына қарама-қарсы келмеуі керек.<br><br>
      Қосымша әкімшілігі сайтта сақталған сілтемелер негізінде пайдаланушыға сайтқа кіру жауапкершілігі мен сыртқы ресурстарды
      қолданғаны үшін жауап бермейтіндігі ескертілген.<br><br>
      Пайдаланушы Қосымша әкімшілігінің Қосымшада жарық көрген кез келген материалүшін жауап бермейтіндігін сол сияқты Қосымша
      мазмұнына байланысты Қосымшадағы сілтемелер негізінде туындаған кейбір шығындар, авторлық құқықтарды тіркеу, авторлық
      құқықтарды тіркеу бойынша мәліметтерде, тауарлар мен қызмет көрсету барысында сыртқы сілтемелер немесе байланыс
      ресурстарын пайдаланғаны үшін жауапты емес екендігімен келіседі.<br><br>
      Пайдаланушы Қосымшадағы кез келген материал және сервис немесе оның жекеленген бөліктерінде жарнама болатындығын
      қабылдайды. Пайдаланушы Қосымша әкімшілігінің жарнама үшін жауапты емес екендігін және де жарнамаға байланысты
      міндеттемелер алмағандығымен келіседі.<br><br>
      Пайдаланушы <b>edufile.</b> сервисін қолдану арқылы бұқаралық сипаттағы жаппай хабарламаларды жөнелтпеуге кепілдік
      береді. Егер олай болған жағдайда автоматты түрде пайдаланушыға ескертілместен оның есептік жазбалары, логин мен паролі
      блокталады.<br>
      <p>Дербес мәліметтерді қорғау</p>
      <figure class="about_quote">
        <blockquote class="agreement_description">
          <i class="fa-solid fa-circle-exclamation"></i>  Дербес мәліметтерді қорғау бойынша толығырақ <a href="/component/privacypolicy">Құпиялылық саясаты</a> бетшесінен таныса аласыз.
        </blockquote>
      </figure>
      <br>
      Қосымша әкімшілігі Сіздің дербес мәліметтеріңізді қауіпсіздікте және құпияда ұстауды қамтамасыз етеді. Дербес
      мәліметтеріңізді өңдеу Қазақстан Республикасының 2013 жылы 21 мамырда қабылданған «Дербес мәліметтер және оларды қорғау»
      Заңына сай қатаң түрде жүргізіледі.<br><br>
      Сіздің дербес мәліметтеріңізді өңдеудің мақсаты - Пайдаланушы келісімі шарттарын орындау. Өңдеуге келесі дербес
      мәліметтер алынады:<br>
      - аты;<br>
      - электронды почтасының атауы;<br><br>
      Қажет болған жағдайда:<br>
      - телефон нөмірі;<br>
      - басқада мәліметтер;<br><br>
      Біздің Қосымшада тіркелу арқылы Сіз өзіңіздің дербес мәліметтеріңіздің заңды түрде жиналатынына, өңделетініне келісім
      бересіз. Сол сияқты Сіз өзіңіздің дербес мәліметтеріңізді өзіңіз қалауыңызбен немесе талап етуіңізбен тоқтатқанға дейін
      қолдануға, жойып жіберуге немесе оферта талаптары бойынша үшінші бір адамға тапсыруға келісім бересіз.<br><br>
      Біздің Қосымшаға тіркелу арқылы Сіз өзіңіздің дербес мәліметтеріңізді көпшілікке қолжетімді мәліметтер базасына (яғни
      Сіздің дербес мәліметтеріңіз көпшілікке қолжетімді) енгізуге және Сіз туралы ақпаратты (Сіздің дербес мәліметтеріңіз,
      Қосымшаны пайдалану туралы хабарламаларды) серіктестерімізге беруге келісесіз.<br><br>
      Дербес мәліметтерді өңдеуге келісім беру хабарлама негізінде Қосымшаның электронды почтасына жөнелтіледі. Бұл
      жағдайда біздегі қызмет түрлеріне (логин мен пароль) блок қойылады.<br>
      <p>Басқа да ережелер</p>
      Осынау келісім негізінде туындаған барлық дау-дамайлар Қазақстан Республикасы Заңдарына сай шешіледі.
      Келісімде көрсетілген шарттар Пайдаланушы мен Әкімшіліктің ортасындағы агенттік, жолдастық, бірлескен, жалға бару сияқты
      қарым-қатынастарды көздемейтіні айдан анық.<br><br>
      Қосымша әкімшілігі тарапынан әрекетсіздікке жол берілген жағдайда бұл әкімшілікті кеш болса да авторлық құқықты қорғау
      мәселелері тұрғысында әрекет ету құқығынан айырмайды. Пайдаланушы бұл келісімнің барлық пункттерін оқып танысқандығын
      және сөзсіз қабылдайтынын мақұлдайды.</h3>
    </div>
  </section>

  <footer class="page_footer">
    <div class="page_container">
      <div class="page_footnote">
        <div class="page_footnote_tag">
          <a class="page_footnote_title" href="/index"><b>edufile.</b></a>
          <p class="page_footnote_subtitle">Қол ұшын созыңыз! Сіз бұл жобаны қолдауыңыз арқылы одан әрі дамуына үлкен
            үлес қосасыз!</p>
        </div>

        <div class="page_footnote_social">
          <a class="page_footnote_social_link"
            href="https://www.youtube.com/channel/UCgsBtFRV--wrICXphD-H3Sg?sub_confirmation=1">
            <img class="page_footnote_social_icon" src="/visual/icon/icon_youtube.svg"
              alt="social_icon"><span>YouTube</span>
          </a>
          <a class="page_footnote_social_link" href="https://t.me/edufilebot">
            <img class="page_footnote_social_icon" src="/visual/icon/icon_telegram.svg"
              alt="social_icon"><span>Telegram-бот</span>
          </a>
        </div>

        <div class="page_footnote_social">
          <a class="page_footnote_social_link" href="tel:77789517778">
            <img class="page_footnote_social_icon" src="/visual/icon/icon_whatsapp.svg" alt="social_icon"><span>+7 (778)
              951-77-78</span>
          </a>
          <a class="page_footnote_social_link" href="mailto:diplomatpanda@protonmail.com">
            <img class="page_footnote_social_icon" src="/visual/icon/icon_mail.svg"
              alt="social_icon"><span>diplomatpanda@protonmail.com</span>
          </a>
        </div>
      </div>

      <div class="page_footnote_bottom">
        <p class="page_footnote_copy">v6.0<i>(build#0125)</i> &copy;2023-2025 <a class="page_footnote_copy_link" href="/component/developer">ninjawithoutkatana</a> - <a class="page_footnote_copy_link" href="/index">«edufile.»</a> - repository of Educational Files and Platforms</p>
      </div>
    </div>
  </footer>

</body>

</html>