<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<link rel="stylesheet" href="/stylesheet/developer.css">
	<link rel="icon" type="image/svg" href="/visual/icon/icon_application.svg">
	<title>ninjawithoutkatana</title>
</head>

<body>

	<div class="page">
		<div>
			<div class="link">
				<li><a href="https://wa.me/77789517778?text=#">Бізді қолдаңыз <i class="fa-solid fa-mug-hot"></i></a></li>
				<li><a href="/index"><i class="fa-solid fa-globe"></i> edufile.</a></li>
				<li><a href="https://instagram.com/06rkh" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
				<li><a href="https://github.com/ninjawithoutkatana" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a></li>
				<li><a href="https://discordapp.com/users/ninja#8888" target="_blank"><i class="fa-brands fa-discord"></i> Discord</a></li>
			</div>
			<h1 class="main-title">ninjawithoutkatana</h1>
			<p class="second-title">Біз қосымшаны пайдалануға оңай, жылдам жүктелетіндей етіп жасауға тырысудамыз. Сонымен қатар, сіздердің қолдауларыңыз біз үшін маңызды &#128150;</p>
			<div class="link"><li><a href="/component/support"><i class="fa-solid fa-bug"></i> test page .support</a></li></div>
			<div class="link"><li><a href="/fragment/interactive"><i class="fa-solid fa-bug"></i> test page .interactive</a></li></div>
			<div class="link"><li><a href="/fragment/material"><i class="fa-solid fa-bug"></i> test page .material</a></li></div>
			<div class="link">
				<li><a href="/fragment/platform"><i class="fa-solid fa-bug"></i> test page .platform</a></li>
				<li><a href="/fragment/platform-a"><i class="fa-solid fa-bug"></i> test page .platform-a</a></li>
			</div>
			<div class="link"><li><a href="/fragment/resource"><i class="fa-solid fa-bug"></i> test page .resource</a></li></div>
			<div class="link"><li><a href="/fragment/specification"><i class="fa-solid fa-bug"></i> test page .specification</a></li></div>
		</div>
	</div>

	<div class="gradient-bg">
		<svg xmlns="http://www.w3.org/2000/svg">
			<defs>
				<filter id="goo">
					<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
					<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8" result="goo" />
					<feBlend in="SourceGraphic" in2="goo" />
				</filter>
			</defs>
		</svg>
		<div class="gradients-container">
			<div class="g1"></div>
			<div class="g2"></div>
			<div class="g3"></div>
			<div class="g4"></div>
			<div class="g5"></div>
			<div class="interactive"></div>
		</div>
	</div>

</body>

</html>