<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="preload" href="/visual/font/PlumbKaz-Regular.woff" as="font" type="font/woff" crossorigin="anonymous">
	<link rel="preload" href="/visual/font/PlumbKaz-Bold.woff" as="font" type="font/woff" crossorigin="anonymous">

	<script language="javascript">
		if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/Blackberry/i) || navigator.userAgent.match(/WebOs/i)) {
			window.location.replace("/component/notsupported.html");
		}
	</script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<link rel="stylesheet" href="/stylesheet/main.css">
	<link rel="stylesheet" href="/stylesheet/unavailable.css">
	<link rel="icon" type="image/svg" href="/visual/icon/icon_edufile.svg">
	<title>edufile. Қателік</title>
</head>

<body>

	<header class="page_header">
		<div class="page_container">
			<nav class="page_navigate">
				<a class="page_navigate_logotype" href="/index.html">
					<img class="page_navigate_logotype_icon" src="/visual/icon/icon_edufile.svg" alt="logotype_icon">
				</a>
				<ul class="page_navigate_menu">
				</ul>
			</nav>
		</div>
	</header>

	<section class="page_section">
		<div class="page_container">
			<div class="page_unavailable_container">
				<div class="error_list">
					<p class="error_title">Бұл бетше әзірлену үстінде.</p>
					<p class="error_subtitle">Кешіріңіз, біздің қосымшада техникалық жөндеу жұмыстары жүргізілуде. Біз жақын арада ораламыз!</p>
					<p class="error_subtitle">Егер сұрақтарыңыз болса бізге хабарлаңыз! Байланысу үшін басты бетке оралыңыз.</p>
					<a class="error_link" href="/index.html"><i class="fas fa-home"></i> Басты бетшеге оралу</a>
				</div>
				<img class="error_preview" src="/visual/decor/decor_ghost.svg" alt="error_preview">
			</div>
		</div>
	</section>

	<footer class="page_footer">
		<div class="page_container">
			<div class="page_footnote_bottom">
				<p class="page_footnote_copy">v7.0 <i>(build#0525)</i> &copy;2023-2025 <a class="page_footnote_copy_link" href="/component/developer.html">ninjawithoutkatana</a> - <a class="page_footnote_copy_link" href="/index.html">«edufile.»</a> - Open-source educational platform. This project is licensed under the <a class="page_footnote_copy_link" href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GNU GPL v3</a>.</p>
			</div>
		</div>
	</footer>

</body>

</html>