<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<link rel="stylesheet" href="/stylesheet/main.css">
	<link rel="stylesheet" href="/stylesheet/unavailable.css">
	<link rel="icon" type="image/svg" href="/visual/icon/icon_edufile.svg">
	<title>edufile. Қателік</title>
</head>

<header class="page_header">
	<div class="page_container">
		<nav class="page_navigate">
			<a class="page_navigate_logotype">
				<img class="page_navigate_logotype_icon" src="/visual/icon/icon_edufile.svg" alt="logotype_icon">
			</a>
			<ul class="page_navigate_menu">
			</ul>
		</nav>
	</div>
</header>

<section class="page_section">
	<div class="page_container">
			<div class="error_a">
				<img class="error_preview_a" src="/visual/decor/decor_mobile.svg" alt="error_preview_a">
				<p class="error_title_a">Өкінішті 😿</p>
				<p class="error_subtitle_a"><b>edufile.</b> мобильді платформасымен қаралымды қолдамайды. Бірақ сіз бұл вебсайтты компьютеріңізден көре аласыз. Ол үшін дербес компьютеріңіздің браузерінің сілтеме жолағына жобаның вебсайтын <b>http://edufile.ru/index.html</b> енгізіңіз.</p>
				<p class="error_subtitle_a">Егер сұрақтарыңыз болса бізге хабарлаңыз! Байланысу үшін төмендегі түймешені басыңыз.</p>
				<a class="error_link_a" href="mailto:diplomatpanda@protonmail.com"><i class="fas fa-envelope"></i> Хат жазу</a>
			</div>
		</div>
</section>

<footer class="page_footer">
	<div class="page_container">
		<div class="page_error_footnote_bottom">
			<p class="page_footnote_copy">v6.0<i>(build#0125)</i> &copy;2023-2025 <a class="page_footnote_copy_link" href="/component/developer.html">ninjawithoutkatana</a> - <a class="page_footnote_copy_link" href="/index.html">«edufile.»</a> - repository of Educational Files and Platforms</p>
		</div>
	</div>
</footer>

</body>

</html>