<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="preload" href="/visual/font/PlumbKaz-Regular.woff" as="font" type="font/woff" crossorigin="anonymous">
	<link rel="preload" href="/visual/font/PlumbKaz-Bold.woff" as="font" type="font/woff" crossorigin="anonymous">

  <script language="javascript">
    if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/Blackberry/i) || navigator.userAgent.match(/WebOs/i)) {
      window.location.replace("/component/notsupported.html");
    }
  </script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="/stylesheet/main.css">
  <link rel="stylesheet" href="/stylesheet/content.css">
  <link rel="stylesheet" href="/stylesheet/about.css">
  <link rel="icon" type="image/svg" href="/visual/icon/icon_edufile.svg">
  <title>edufile. Құпиялылық саясаты</title>
</head>

<body>

  <header class="page_header">
    <div class="page_container">
      <nav class="page_navigate">
        <a class="page_navigate_logotype" href="/index.html">
          <img class="page_navigate_logotype_icon" src="/visual/icon/icon_edufile.svg" alt="logotype_icon">
        </a>
        <ul class="page_navigate_menu">
          <li class="page_navigate_menu_item">
            <a class="page_navigate_menu_link" href="/fragment/content.html">Бөлімдер</a>
          </li>
          <li class="page_navigate_menu_item">
            <a class="page_navigate_menu_link" href="/fragment/about.html">Жоба туралы</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="page_section">
    <div class="page_container">
      <div class="content_container_a">
        <div class="content_child_list">
          <img class="agreement_preview" src="/visual/decor/decor_privacy.svg" alt="agreement_preview">
        </div>
        <div class="content_child_list">
          <h1 class="content_title">Құпиялылық саясаты</h1>
          <h3 class="content_subtitle">Құпиялылық саясаты және төменде сипатталған шарттар <b>edufile.</b> жүйесіндегі (ары қарай «Қосымша») пайдалану шарттарының бөлігі болып табылады.</h3>
        </div>
      </div>
      <h3 class="agreement_description">      
      <p>Дербес ақпараттың қолданылу тәртіптері</p>
      Сіз туралы дербес ақпарат: Сіздің атыңызды, электрондық пошта мекенжайын, телефон нөмірін немесе Сіздің жеке басыңызды сәйкестендіретін өзге ақпаратты қамтуы мүмкін. Қосымша жүйесі Сізден тіркеуді және дербес ақпаратты беруді талап етпейді.<br><br>
      Сіз туралы барлық дербес ақпарат тек тікелей мақсаты бойынша ғана пайдаланылады. Қосымшаны пайдаланған кезде Сіз осы Құпиялылық саясатының шарттарымен келісесіз.<br><br>
      Біздің Қосымшамыздың жүйесіне дербес деректерді беру ерікті болып табылады. Оларды беріп, Сіз Қосымшада ақпаратты мәлімденген мақсатта пайдалануға рұқсат бересіз.<br><br>
      Қосымша Сіздің түсіндірмелеріңізді/жүгінулеріңізді, сондай-ақ деректерді өзектілендіруге және жариялауға өтінімдеріңізді жариялауға мүмкіндік береді. Сіздің хабарламаларыңыз көпшілікке қолжетімді болады, сондықтан Қосымша жүйесінде модерация саясаты пайдаланылады, ол нормативті емес лексиканың болмауына кепілдік береді, сонымен көпшілік мақұлдаған этикалық талаптардың сақталуын қамтамасыз етеді.<br><br>    
      Егер Сіз веб-нысанды толтыру немесе электрондық хатты жіберу сияқты әдістерді пайдаланып, Қосымша жүйесіне дербес деректерді беруді шешсеңіз, ақпарат Сізге Сіздің хабарламаңызға жауап беру үшін пайдаланылатын болады.
      </h3>
    </div>
  </section>

  <footer class="page_footer">
    <div class="page_container">
      <div class="page_footnote">
        <div class="page_footnote_tag">
          <a class="page_footnote_title" href="/index.html"><b>edufile.</b></a>
          <p class="page_footnote_subtitle">Қол ұшын созыңыз! Сіз бұл жобаны қолдауыңыз арқылы одан әрі дамуына үлкен үлес қосасыз!</p>
        </div>

        <div class="page_footnote_social">
          <a class="page_footnote_social_link" href="https://www.youtube.com/channel/UCgsBtFRV--wrICXphD-H3Sg?sub_confirmation=1"><img class="page_footnote_social_icon" src="/visual/icon/icon_youtube.svg" alt="social_icon"><span>YouTube</span></a>
          <a class="page_footnote_social_link" href="https://t.me/edufilebot"> <img class="page_footnote_social_icon" src="/visual/icon/icon_telegram.svg" alt="social_icon"><span>Telegram-бот</span> </a>
        </div>

        <div class="page_footnote_social">
          <a class="page_footnote_social_link" href="tel:77789517778"><img class="page_footnote_social_icon" src="/visual/icon/icon_whatsapp.svg" alt="social_icon"><span>+7 (778) 951-77-78</span> </a>
          <a class="page_footnote_social_link" href="mailto:diplomatpanda@protonmail.com"><img class="page_footnote_social_icon" src="/visual/icon/icon_mail.svg" alt="social_icon"><span>diplomatpanda@protonmail.com</span> </a>
        </div>
      </div>

      <div class="page_footnote_bottom">
        <p class="page_footnote_copy">v7.0 <i>(build#0525)</i> &copy;2023-2025 <a class="page_footnote_copy_link" href="/component/developer.html">ninjawithoutkatana</a> - <a class="page_footnote_copy_link" href="/index.html">«edufile.»</a> - Open-source educational platform. This project is licensed under the <a class="page_footnote_copy_link" href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GNU GPL v3</a>.</p>
      </div>
    </div>
  </footer>

</body>

</html>